@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{
    ViewBag.Title = SharedLocalizer["Accessibility statement on Find energy improvements suitable for your home"].Value;
}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">
    @SharedLocalizer["AccessibilityStatementTitleString"]
</h1>
<p class="govuk-body">
    @SharedLocalizer["AccessibilityThisStatementAppliesString"]
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>@SharedLocalizer["AccessibilityCanChangeColoursString"]</li>
    <li>@SharedLocalizer["AccessibilityCanZoomInString"]</li>
    <li>@SharedLocalizer["AccessibilityCanNavigateKeyboardString"]</li>
    <li>@SharedLocalizer["AccessibilityCanNavigateSpeechString"]</li>
    <li>@SharedLocalizer["AccessibilityCanListenString"]</li>
</ul>
<p class="govuk-body">
    @SharedLocalizer["AccessibilitySimpleTextString"]
</p>
<p class="govuk-body">
    @SharedLocalizer["AbilityNetAdviceLinkString", "https://mcmw.abilitynet.org.uk/"]
</p>

<h2 class="govuk-heading-l">
    @SharedLocalizer["AccessibilityLimitationsTitleString"]
</h2>
<p class="govuk-body">
    @SharedLocalizer["AccessibilityPartsNotAccessibleString"]
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>@SharedLocalizer["AccessibilityCantDragonUploadString"]</li>
    <li>@SharedLocalizer["AccessibilityCantVoiceoverFocusString"]</li>
</ul>

<h2 class="govuk-heading-l">
    @SharedLocalizer["AccessibilityFeedbackTitleString"]
</h2>
<p class="govuk-body">
    @SharedLocalizer["AccessibilityDifferentFormatString"]
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>@SharedLocalizer["AccessibilityContactEmailString", Constants.DESNZ_CONTACT_EMAIL]</li>
    <li>@SharedLocalizer["AccessibilityContactNumberString", Constants.DESNZ_CONTACT_NUMBER]</li>
</ul>
<p class="govuk-body">
    @SharedLocalizer["AccessibilityConsiderRequestString"]
</p>
<p class="govuk-body">
    @SharedLocalizer["AccessibilityCannotViewMapString", Constants.DESNZ_CONTACT_NUMBER, Constants.DESNZ_CONTACT_EMAIL]
</p>

<h2 class="govuk-heading-l">
    @SharedLocalizer["AccessibilityReportingTitleString"]
</h2>
<p class="govuk-body">
    @SharedLocalizer["HelpUsImproveAccessibilityFeedbackString", Constants.DESNZ_CONTACT_EMAIL]
</p>

<h2 class="govuk-heading-l">
    @SharedLocalizer["AccessibilityEnforcementProcedureTitleString"]
</h2>
<p class="govuk-body">
    @SharedLocalizer["IfNotHappyWithComplaintContactLinkString", "https://www.equalityadvisoryservice.com/"]
</p>

<h2 class="govuk-heading-l">
    @SharedLocalizer["AccessibilityTechnicalInformationTitleString"]
</h2>
<p class="govuk-body">
    @SharedLocalizer["AccessibilityDesnzCommitmentString"]
</p>
<h3 class="govuk-heading-m">
    @SharedLocalizer["AccessibilityComplianceStatusTitleString"]
</h3>
<p class="govuk-body">
    @SharedLocalizer["CompliantWithWebContentAccessibilityGuidelinesString","https://www.w3.org/TR/WCAG22/"]
</p>
<h3 class="govuk-heading-m">
    @SharedLocalizer["AccessibilityDisproportionateBurdenTitleString"]
</h3>
<p class="govuk-body">
    @SharedLocalizer["AccessibilityDragonNaturallyDisproportionateBurdenString","https://github.com/alphagov/reported-bugs/issues/35"]
</p>
<p class="govuk-body">
    @SharedLocalizer["AccessibilityDisproportionateBurdenString","https://www.legislation.gov.uk/uksi/2018/952/regulation/7/made"]
</p>
<p class="govuk-body">
    @SharedLocalizer["AccessibilityVoiceOverDisproportionateBurdenString","https://www.applevis.com/bugs/ios/voiceover-focus-may-spontaneously-jump-another-ui-element-most-typically-soon-after"]
</p>
<p class="govuk-body">
    @SharedLocalizer["AccessibilityDisproportionateBurdenString","https://www.legislation.gov.uk/uksi/2018/952/regulation/7/made"]
</p>

<h2 class="govuk-heading-l">
    @SharedLocalizer["AccessibilityStatementPreparationTitleString"]
</h2>
<p class="govuk-body">
    @SharedLocalizer["AccessibilityStatementPreparationDateString"]
</p>
<p class="govuk-body">
    @SharedLocalizer["AccessibilityWebsiteTestDateString"]
</p>
<p class="govuk-body">
    @SharedLocalizer["AccessibilityToolString", "https://www.w3.org/TR/WCAG-EM/"]
</p>
</div>
</div>