@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{
    ViewBag.Title = SharedLocalizer["Accessibility statement on Find energy improvements suitable for your home"].Value;
}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">
    @SharedLocalizer["Accessibility Statement"]
</h1>
<p class="govuk-body">
    @SharedLocalizer["This statement applies to content published on our service."]
</p>
<p class="govuk-body">
    @SharedLocalizer["This website is run by the Department for Business, Energy and Industrial Strategy (BEIS). We want as many people as possible to be able to use this website. For example, that means you should be able to:"]
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>@SharedLocalizer["change colours, contrast levels and fonts"]</li>
    <li>@SharedLocalizer["zoom in up to 200% without the text spilling off the screen"]</li>
    <li>@SharedLocalizer["navigate most of the website using just a keyboard"]</li>
    <li>@SharedLocalizer["navigate most of the website using speech recognition software"]</li>
    <li>@SharedLocalizer["listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)"]</li>
</ul>
<p class="govuk-body">
    @SharedLocalizer["We’ve also made the website text as simple as possible to understand."]
</p>
<p class="govuk-body">
    @SharedLocalizer["AbilityNetAdviceLinkString", "https://mcmw.abilitynet.org.uk/"]
</p>

<h2 class="govuk-heading-l">
    @SharedLocalizer["Reporting accessibility problems with this website"]
</h2>
<p class="govuk-body">
    @SharedLocalizer["HelpUsImproveAccessibilityFeedbackString", Constants.FEEDBACK_URL_ACCESSIBILITY_PAGE]
</p>

<h2 class="govuk-heading-l">
    @SharedLocalizer["Enforcement procedure"]
</h2>
<p class="govuk-body">
    @SharedLocalizer["IfNotHappyWithComplaintContactLinkString", "https://www.equalityadvisoryservice.com/"]
</p>

<h2 class="govuk-heading-l">
    @SharedLocalizer["Technical information about this website’s accessibility"]
</h2>
<p class="govuk-body">
    @SharedLocalizer["The Department for Business, Energy and Industrial Strategy (BEIS) is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018."]
</p>
<h3 class="govuk-heading-m">
    @SharedLocalizer["Compliance status"]
</h3>
<p class="govuk-body">
    @SharedLocalizer["CompliantWithWebContentAccessibilityGuidelinesString","https://www.w3.org/TR/WCAG21/"]
</p>
<h3 class="govuk-heading-m">
    @SharedLocalizer["Content that’s not within the scope of the accessibility regulations"]
</h3>
<p class="govuk-body">
    @SharedLocalizer["Not applicable."]
</p>

<h2 class="govuk-heading-l">
    @SharedLocalizer["What we’re doing to improve accessibility"]
</h2>
<p class="govuk-body">
    @SharedLocalizer["We will fix issues that fail to meet the Web Content Accessibility Guidelines version 2.1 AA standard. We will update this page when issues are fixed."]
</p>

<h2 class="govuk-heading-l">
    @SharedLocalizer["Preparation of this accessibility statement"]
</h2>
        <p class="govuk-body">
            @SharedLocalizer["This statement was prepared on 16 June 2022. It was last reviewed on 16 June 2022."]
        </p>
        <p class="govuk-body">
            @SharedLocalizer["This website was last tested on 16 June 2022. The test was carried out by a Digital Accessibility Expert."]
        </p>
    </div>
</div>