@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using GovUkDesignSystem.GovUkDesignSystemComponents.SubComponents
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SeaPublicWebsite.Controllers
@using SeaPublicWebsite.Services.Cookies
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@inject CookieService CookieService
@{
    var bannerState = CookieService.GetAndUpdateBannerState(Context.Request, Context.Response);
}

<form method="POST" action="@Url.Action(nameof(CookieController.CookieConsent), "Cookie")">
    @Html.Hidden("ReturnUrl", Context.Request.GetEncodedPathAndQuery())
    @Html.AntiForgeryToken()
    @await Html.GovUkCookieBanner(new CookieBannerViewModel
           {
               AriaLabel = SharedLocalizer["CookiesOnString", SharedLocalizer[Constants.SERVICE_NAME].Value].Value,
               Hidden = bannerState is BannerState.Hide,
               Messages = new List<CookieBannerMessageViewModel>
               {
                   new()
                   {
                       HeadingText = @SharedLocalizer["Cookies on our service"].Value,
                       Html = @<text>
                                  <p class="govuk-body">@SharedLocalizer["We use some essential cookies to make this service work."]</p>
                                  <p class="govuk-body">@SharedLocalizer["We'd also like to use analytics cookies so we can understand how you use the service and make improvements."]</p>
                               </text>,
                       Hidden = bannerState is not BannerState.ShowBanner,
                       Actions = new List<CookieBannerMessageActionViewModel>
                       {
                           new()
                           {
                               Name = "consent",
                               Value = "accept",
                               Type = "submit",
                               Text = @SharedLocalizer["Accept analytics cookies"].Value
                           },
                           new()
                           {
                               Name = "consent",
                               Value = "reject",
                               Type = "submit",
                               Text = @SharedLocalizer["Reject analytics cookies"].Value
                           },
                           new ()
                           {
                               Text = @SharedLocalizer["View cookies"].Value,
                               Href = @Url.Action(nameof(CookieController.CookieSettings_Get), "Cookie")
                           }
                       }
                   },
                   new()
                   {
                       Html = @<text>
                                  <p class="govuk-body">
                                      @(bannerState is BannerState.ShowAccepted ? SharedLocalizer["You’ve accepted additional cookies."] : SharedLocalizer["You’ve rejected additional cookies."]) 
                                      @SharedLocalizer["YouCanChangeYourCookieSettingsAtAnyTimeString", Url.Action(nameof(CookieController.CookieSettings_Get), "Cookie")]
                                  </p>
                               </text>,
                       Hidden = bannerState is not BannerState.ShowAccepted and not BannerState.ShowRejected,
                       Actions = new List<CookieBannerMessageActionViewModel>
                       {
                           new()
                           {
                               Name = "consent",
                               Value = "hide",
                               Type = "submit",
                               Text = @SharedLocalizer["Hide cookie message"].Value
                           },
                       }
                   },
               }
           })
</form>