@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model SeaPublicWebsite.Models.EnergyEfficiency.SingleRecommendationDetailsViewModel;

<span class="govuk-caption-l">
    @SharedLocalizer["RecommendationXofYString", Model.RecommendationIndex + 1, Model.PropertyRecommendations.Count]
</span>
<h1 class="govuk-heading-l">
    @SharedLocalizer[Model.GetCurrentPropertyRecommendation().Title]
</h1>

@await RenderSectionAsync("RecommendationBody", true)

<h2 class="govuk-heading-m">@SharedLocalizer["Who this improvement is suitable for"]</h2>
<p class="govuk-body">@SharedLocalizer["You should consider this improvement for your property if:"]</p>
@await RenderSectionAsync("RecommendationSuitableFor", true)

<h2 class="govuk-heading-m">
    @SharedLocalizer["What you could save"]
</h2>
@await RenderSectionAsync("RecommendationLifetime", true)
@{ await Html.RenderPartialAsync("../EnergyEfficiency/Recommendations/Partials/_WhatYouCouldSave.cshtml", Model); }

@await Html.GovUkWarningText(new WarningTextViewModel
       {
           IconFallbackText = SharedLocalizer["Note"].Value,
           Text = @SharedLocalizer["FiguresForTypicalInstallationWarningTextString"].Value
       })

@await Html.GovUkSummaryList(new SummaryListViewModel
       {
           Classes = "govuk-!-margin-bottom-9",
           Rows = new List<SummaryListRowViewModel>
           {
               new()
               {
                   Key = new SummaryListRowKey
                   {
                       Classes = "govuk-!-width-two-thirds",
                       Text = @SharedLocalizer["Will this cause disruption during installation?"].Value
                   },
                   Value = new SummaryListRowValue
                   {
                       Classes = "sea-recommendation-impact govuk-!-padding-right-0",
                       Html = @<text>
                                  @await Html.GovUkTag(Model.DisruptionTagViewModel)
                               </text>
                   }
               },
               new()
               {
                   Key = new SummaryListRowKey
                   {
                       Classes = "govuk-!-width-two-thirds",
                       Text = @SharedLocalizer["How long could this take to install?"].Value
                   },
                   Value = new SummaryListRowValue
                   {
                       Classes = "sea-recommendation-impact govuk-!-padding-right-0",
                       Html = @<text>
                                  @await Html.GovUkTag(Model.DurationTagViewModel)
                               </text>
                   }
               }
           }
       })