@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model SeaPublicWebsite.Models.EnergyEfficiency.RecommendationViewModel;

@{
    ViewBag.Title = "Recommendation " + (Model.GetCurrentIndex() + 1) + " of " + Model.PropertyData.PropertyRecommendations.Count;
    Layout = "_Layout";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        @{ await Html.RenderPartialAsync("../EnergyEfficiency/Recommendations/Partials/YourActionPlanPartial.cshtml", Model); }
    </div>
    
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("Recommendation_Post", "EnergyEfficiency", new {id = (int) Model.PropertyRecommendation.Key})" method="post" novalidate>

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.PropertyData.Reference)

            <span class="govuk-caption-l">
                Recommendation @(Model.GetCurrentIndex() + 1) of @Model.PropertyData.PropertyRecommendations.Count
            </span>
            <h1 class="govuk-heading-l">
                @Model.PropertyRecommendation.Title
            </h1>

            @await RenderSectionAsync("RecommendationBody", true)
            
            <h2 class="govuk-heading-m">Who this improvement is suitable for</h2>
            <p class="govuk-body">You should consider this improvement for your property if:</p>
            @await RenderSectionAsync("RecommendationSuitableFor", true)

            <h2 class="govuk-heading-m">
                What you could save
            </h2>
            @await RenderSectionAsync("RecommendationLifetime", true)
            @{ await Html.RenderPartialAsync("../EnergyEfficiency/Recommendations/Partials/WhatYouCouldSavePartial.cshtml", Model); }
            
            @await Html.GovUkWarningText(new WarningTextViewModel
            {
                IconFallbackText = "Note",
                Text = "These figures are for a typical installation in a home like yours. " +
                       "The costs and savings you experience will be affected by your circumstances, " +
                       "the details of the installations, and future energy tariffs."
            })
            
            @await Html.GovUkSummaryList(new SummaryListViewModel
            {
                Classes = "govuk-!-margin-bottom-9",
                Rows = new List<SummaryListRowViewModel>
                {
                    new()
                    {
                        Key = new SummaryListRowKey
                        {
                            Text = "Will this cause disruption during installation?"
                        },
                        Value = new SummaryListRowValue
                        {
                            // TODO: Change this
                            Html = ViewBag.Distruption
                        }
                    },
                    new()
                    {
                        Key = new SummaryListRowKey
                        {
                            Text = "How long could this take to install?"
                        },
                        Value = new SummaryListRowValue
                        {
                            // TODO: Change this
                            Html = ViewBag.Duration
                        }
                    }
                }
            })

            @(await Html.GovUkRadiosFor(m => m.RecommendationAction,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<h1 class="govuk-fieldset__heading">
                                   Would you consider this improvement for your property?
                               </h1>,
                        Classes = "govuk-fieldset__legend--l",
                    }
                },
                classes: "govuk-!-margin-bottom-7"
                ))

            @{ await Html.RenderPartialAsync("../EnergyEfficiency/Recommendations/Partials/ActionButtonsPartial.cshtml"); }

        </form>

    </div>
</div>