@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SeaPublicWebsite.Controllers
@model SeaPublicWebsite.Models.EnergyEfficiency.RecommendationViewModel;

@{
    ViewBag.Title = "Recommendation " + (Model.GetCurrentIndex() + 1) + " of " + Model.PropertyData.PropertyRecommendations.Count;
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = "#",

        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = true
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        @{ await Html.RenderPartialAsync("Partials/YourActionPlanPartial.cshtml", Model); }
    </div>

    <div class="govuk-grid-column-two-thirds">


        <form action="@Url.Action(nameof(EnergyEfficiencyController.Recommendation_Post), "EnergyEfficiency", new { id = (int) Model.PropertyRecommendation.Key, reference = Model.PropertyData.Reference })" method="post" novalidate>

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.PropertyData.Reference)

            <span class="govuk-caption-l">
                Recommendation @(Model.GetCurrentIndex() + 1) of @Model.PropertyData.PropertyRecommendations.Count
            </span>
            <h1 class="govuk-heading-l">
                @Model.PropertyRecommendation.Title
            </h1>

            <p class="govuk-body">
                Based on the information we have collected; it looks like you could save money by adding an insulating jacket to your hot water cylinder. By insulating your hot water cylinder, you will retain more heat. It will mean your hot water stays hotter for longer, and you spend less money heating water up.
            </p>

            <p class="govuk-body">
                If you feel comfortable fitting this yourself, you can buy a British Standard jacket from most DIY shops and fit it snugly around the tank. These jackets will have heavy duty fixings and a flame retardant cover.
            </p>

            <p class="govuk-body">
                You may also want to consider using foam collars around any exposed hot water pipes to save even more energy.
            </p>

            <p class="govuk-body govuk-!-margin-bottom-6">
                You can find more information on solid wall insulation on the
                <a class="govuk-link" target="_blank" href="https://energysavingtrust.org.uk/advice/insulating-tanks-pipes-and-radiators/`">Energy Saving Trust website.<span class="govuk-visually-hidden">(opens in a new window)</span></a>
            </p>

            <h2 class="govuk-heading-m">Who this improvement is suitable for</h2>
            <p class="govuk-body">You should consider this improvement for your property if:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                <li>
                    You have a hot water cylinder that isn’t factory insulated or has less than 80 mm thick insulating jacket 
                </li>
            </ul>

            <div class="govuk-warning-text govuk-!-margin-bottom-7">
                <span class="govuk-warning-text__icon  sea-warning-text__icon--long" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Caution</span>
                    If you are reasonably confident with DIY, this could be a task you can complete yourself. If not, this is a job for a handyperson. 
                </strong>
            </div>
            
            <h2 class="govuk-heading-m">
                What you could save
            </h2>

            <p class="govuk-body">Insulating hot water cylinder jackets typically last <b>around @Model.PropertyRecommendation.Lifetime years</b></p>

            @{ await Html.RenderPartialAsync("Partials/WhatYouCouldSavePartial.cshtml", Model); }

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Note</span>
                    These figures are for a typical installation in a home like yours.
                    The costs and savings you experience will be affected by your circumstances,
                    the details of the installations, and future energy tariffs.
                </strong>
            </div>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                        Will this cause disruption during installation?
                    </dt>
                    <dd class="govuk-summary-list__value sea-recommendation-impact govuk-!-padding-right-0">
                        <strong class="govuk-tag govuk-tag--green">MINIMAL</strong>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                        How long could this take to install?
                    </dt>
                    <dd class="govuk-summary-list__value sea-recommendation-impact govuk-!-padding-right-0">
                        <strong class="govuk-tag govuk-tag--green">LESS THAN A DAY</strong>
                    </dd>
                </div>
            </dl>

            @(await Html.GovUkRadiosFor(m => m.RecommendationAction,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <h1 class="govuk-fieldset__heading">
                                       Would you consider this improvement for your property?
                                   </h1>
                                </text>,
                        Classes = "govuk-fieldset__legend--l"
                    }
                },
                classes: "govuk-!-margin-bottom-7"
                ))

            @{ await Html.RenderPartialAsync("Partials/ActionButtonsPartial.cshtml"); }

        </form>

    </div>
</div>