@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Helpers
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions
@model SeaPublicWebsite.Models.EnergyEfficiency.RecommendationViewModel;

@{
    ViewBag.Title = "Recommendation " + (Model.GetCurrentIndex() + 1) + " of " + Model.UserDataModel.UserRecommendations.Count;
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = "#",
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = true
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        @{ await Html.RenderPartialAsync("Partials/YourActionPlanPartial.cshtml", Model); }
    </div>
    
    <div class="govuk-grid-column-two-thirds">

        @(Html.GovUkErrorSummary())
        
        <form action="@Url.Action("Recommendation_Post", "EnergyEfficiency", new {id = (int) Model.UserRecommendation.Key, reference = Model.UserDataModel.Reference})" method="post" novalidate>

            @Html.HiddenFor(m => m.UserDataModel.Reference)

            <span class="govuk-caption-l">
                Recommendation @(Model.GetCurrentIndex() + 1) of @Model.UserDataModel.UserRecommendations.Count
            </span>
            <h1 class="govuk-heading-l">Fit solar electric panels</h1>

            <p class="govuk-body">
                If you have a suitable roof area you may be able to fit solar photovoltaic panels, or solar PV,
                to generate electricity.
            </p>

            <p class="govuk-body">
                You will be able to use some of this electricity to reduce the amount you buy from your energy supplier,
                cutting your bills. At times you will generate more than you are using – you can sell any surplus to your
                electricity supplier to save even more money.
            </p>

            <p class="govuk-body govuk-!-margin-bottom-6">
                You can find more information on solar PV on the
                <a class="govuk-link" target="_blank" href="https://energysavingtrust.org.uk/advice/solar-panels/">Energy Saving Trust website.<span class="govuk-visually-hidden">(opens in a new window)</span></a>
            </p>

            <h2 class="govuk-heading-m">Who this improvement is suitable for</h2>
            <p class="govuk-body">You should consider this improvement for your property if:</p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                <li>
                    You have a roof area that faces somewhere south of due east or due west.
                </li>
                <li>
                    This roof area is not often shaded by trees or other buildings.
                </li>
            </ul>

            <div class="govuk-warning-text govuk-!-margin-bottom-7">
                <span class="govuk-warning-text__icon  sea-warning-text__icon--long" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Caution</span>
                    The savings you get from a solar PV system will depend on many factors,
                    including whether there are people at home during the day using electricity.
                </strong>
            </div>

            @{ await Html.RenderPartialAsync("Partials/WhatYouCouldSavePartial.cshtml", Model); }
            
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Note</span>
                    These figures are for a typical installation in a home like yours. 
                    The costs and savings you experience will be affected by your circumstances, 
                    the details of the installations, and future energy tariffs.
                </strong>
            </div>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                        Will this cause disruption during installation?
                    </dt>
                    <dd class="govuk-summary-list__value sea-recommendation-impact govuk-!-padding-right-0">
                        <strong class="govuk-tag govuk-tag--yellow">MODERATE</strong>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                        How long could this take to install?
                    </dt>
                    <dd class="govuk-summary-list__value sea-recommendation-impact govuk-!-padding-right-0">
                        <strong class="govuk-tag govuk-tag--orange">2 DAYS</strong>
                    </dd>
                </div>
            </dl>
            
            @{ await Html.RenderPartialAsync("Partials/KeepACopyPartial.cshtml"); }

            @(Html.GovUkRadiosFor(m => m.RecommendationAction,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <h1 class="govuk-fieldset__heading">
                                       Would you consider this improvement for your property?
                                   </h1>
                                </text>,
                        Classes = "govuk-fieldset__legend--l"
                    }
                }
                ))

            @{ await Html.RenderPartialAsync("Partials/ActionButtonsPartial.cshtml"); }

        </form>
        
    </div>
</div>