@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Controllers
@using SeaPublicWebsite.Models.EnergyEfficiency
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model SeaPublicWebsite.Models.EnergyEfficiency.RecommendationViewModel;

@{
    ViewBag.Title = string.Format(SharedLocalizer["RecommendationXofYString"].Value, Model.RecommendationIndex + 1, Model.PropertyRecommendations.Count);
    Layout = "_Layout";
}

@section BeforeMain {
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            @await Html.GovUkBackLink(new BackLinkViewModel
                   {
                       Text = SharedLocalizer["Back"].Value,
                       Href = Model.BackLink,
                   })
        </div>
        <div class="govuk-grid-column-one-half sea-download-link-container">
            @{ await Html.RenderPartialAsync("Partials/_DownloadRecommendations", new DownloadPdfButtonViewModel
               {
                   Reference = Model.Reference,
                   ButtonClass = "govuk-!-margin-top-3 govuk-!-margin-bottom-3"
               }); }
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        @{ await Html.RenderPartialAsync("Partials/_YourActionPlan.cshtml", Model); }
    </div>

    <div class="govuk-grid-column-two-thirds">
        <form action="@Url.Action(nameof(EnergyEfficiencyController.Recommendation_Post), "EnergyEfficiency", new { id = (int)Model.GetCurrentPropertyRecommendation().Key })" method="post" novalidate>

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.FromActionPlan)

            @{ await Html.RenderPartialAsync("Partials/_SingleRecommendationDetails.cshtml", new SingleRecommendationDetailsViewModel
               {
                   RecommendationIndex = Model.RecommendationIndex,
                   PropertyRecommendations = Model.PropertyRecommendations,
                   EnergyPriceCapInfo = Model.EnergyPriceCapInfo
               }); }

            @(await Html.GovUkRadiosFor(m => m.RecommendationAction,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<h1 class="govuk-fieldset__heading">
                                   @SharedLocalizer["Would you consider this improvement for your property?"]
                               </h1>,
                        Classes = "govuk-fieldset__legend--l",
                    }
                },
                classes: "govuk-!-margin-bottom-7"
                ))

            @{
                var hasBack = Model.HasPreviousIndex() && !Model.FromActionPlan;
                await Html.RenderPartialAsync("Partials/_ActionButtons.cshtml", new ActionButtonsViewModel
                {
                    BackTitle = hasBack ? @SharedLocalizer["Go back to"].Value : null,
                    BackText = hasBack ? $"{SharedLocalizer["Recommendation"].Value} {Model.RecommendationIndex}" : null,
                    ForwardTitle = Model.FromActionPlan ? @SharedLocalizer["Back to"].Value : @SharedLocalizer["Continue to"].Value,
                    ForwardText = Model.FromActionPlan
                        ? @SharedLocalizer["Action Plan"].Value
                        : Model.HasNextIndex()
                            ? $"{SharedLocalizer["Recommendation"].Value} {Model.RecommendationIndex + 2}"
                            : SharedLocalizer["Action Plan"].Value
                });
            }
        </form>
    </div>
</div>