@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SeaPublicWebsite.Controllers
@using SeaPublicWebsite.Models.Feedback
@model SeaPublicWebsite.Models.Feedback.FeedbackSurveyViewModel
@{
    ViewBag.Title = "Help us improve our service";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        OverrideWithJavascript = true
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="@Url.Action(nameof(FeedbackController.FeedbackSurvey_Post), "Feedback")" method="post" novalidate>
            @Html.AntiForgeryToken()
            
            <h1 class="govuk-heading-l">
                Help us improve this service
            </h1>
            <p class="govuk-body">
                Please note that we will not be able to reply to your feedback.
            </p>
            
            @(await Html.GovUkCheckboxesFor(
                m => m.VisitReasonList,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <strong>Why did you come to the site today?</strong>
                                   <p>Select all that apply</p>
                            </text>,
                    }
                }, 
                conditionalOptions: new Dictionary<VisitReason, Conditional>
                {
                    {
                        VisitReason.Other,
                        new Conditional
                        {
                            Html = (@<text>
                                    @await Html.GovUkTextAreaFor(
                                        m => m.OtherReason,
                                        labelOptions: new LabelViewModel
                                        {
                                            Text = "Please provide more information",
                                        }
                                        )
                                 </text>)
                        }
                    }
                }))

            @(await Html.GovUkRadiosFor(
                m => m.FoundInformation,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <strong>Did you find the information you were looking for?</strong>
                                </text>,
                    }
                },
                conditionalOptions: new Dictionary<FoundInformation, Conditional>
                {
                    {
                        FoundInformation.No,
                        new Conditional
                        {
                            Html = (@<text>
                                    @await Html.GovUkTextAreaFor(
                                        m => m.NotFoundInformationDetails,
                                        labelOptions: new LabelViewModel
                                        {
                                            Text = "Please provide more information",
                                        })
                                 </text>)
                        }
                    }
                }))
            @(await Html.GovUkCheckboxesFor(
                m => m.HowInformationHelpedList,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <strong>How has the information helped you today?</strong>
                                   <p>Select all that apply</p>
                            </text>,
                    }
                }, 
                conditionalOptions: new Dictionary<HowInformationHelped, Conditional>
                {
                    {
                        HowInformationHelped.Other,
                        new Conditional
                        {
                            Html = (@<text>
                                    @await Html.GovUkTextAreaFor(
                                        m => m.OtherHelp,
                                        labelOptions: new LabelViewModel
                                        {
                                            Text = "Please provide more information",
                                        }
                                        )
                                 </text>)
                        }
                    }
                }))
            
            @(await Html.GovUkCheckboxesFor(
                m => m.WhatPlannedToDoList,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <strong>What do you plan to do with the information?</strong>
                                   <p>Select all that apply</p>
                            </text>,
                    }
                }, 
                conditionalOptions: new Dictionary<WhatPlannedToDo, Conditional>
                {
                    {
                        WhatPlannedToDo.Other,
                        new Conditional
                        {
                            Html = (@<text>
                                    @await Html.GovUkTextAreaFor(
                                        m => m.OtherPlan,
                                        labelOptions: new LabelViewModel
                                        {
                                            Text = "Please provide more information",
                                        }
                                        )
                                 </text>)
                        }
                    }
                }))

            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Submit feedback"
            }))
        </form>
        
        <h2 class="govuk-heading-m">
            Were you looking for help?
        </h2>
        
        <p class="govuk-body">
            If you would like some help with the website, you can call us to talk to one of our digital support assistants. 
        </p>
        
        <p class="govuk-body-l">
            Telephone <br />
            <span class="sea-telephone"><strong>0800 444 202</strong></span>
        </p>
        <p class="govuk-body">
            Monday to Friday: 8am to 8pm<br>
            Saturday and Sunday: 9am to 5pm
        </p>
        <p class="govuk-body">
            <a class="govuk-link"  href="https://www.gov.uk/call-charges">
                Find out more about call charges
            </a>
        </p>
    </div>
</div>
