@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
<p class="govuk-body">
    @SharedLocalizer["There may be schemes or grants available to help with the cost of installing energy efficiency improvements."]
</p>

<p class="govuk-body">
    @SharedLocalizer["CheckEligibilityForGBISString","https://www.gov.uk/apply-great-british-insulation-scheme"]
</p>

<p class="govuk-body">
    @SharedLocalizer["Some of the types of support include:"]
</p>

<ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="https://www.gov.uk/energy-company-obligation" target="_blank">@SharedLocalizer["Energy Company Obligation (ECO)"]</a></li>
    <li><a class="govuk-link" href="https://www.gov.uk/guidance/check-if-you-may-be-eligible-for-the-boiler-upgrade-scheme-from-april-2022" target="_blank">@SharedLocalizer["Boiler Upgrade Scheme"]</a></li>
</ul>



<p class="govuk-body">
   @SharedLocalizer["FindOutIfEligibleForSustainableWarmthGrantString", "https://www.gov.uk/find-local-council"]
</p>

<p class="govuk-body">
    @SharedLocalizer["OfgemGuideToSchemesAndGrantsString", "https://www.ofgem.gov.uk/find-schemes-grants-and-benefits-help-home-energy"]
</p>

<p class="govuk-body">
    @SharedLocalizer["If you are a social housing tenant, please contact your landlord directly for support."]
</p>