@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
<p class="govuk-body">
    @SharedLocalizer["There may be schemes or grants available to help with the cost of installing energy efficiency improvements."]
</p>

<p class="govuk-body">
    @SharedLocalizer["Some of the types of support include:"]
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>@SharedLocalizer["EnergyCompanyObligationString", "https://www.gov.uk/energy-company-obligation"]</li>
    <li>@SharedLocalizer["BoilerUpgradeSchemeString", "https://www.gov.uk/guidance/check-if-you-may-be-eligible-for-the-boiler-upgrade-scheme-from-april-2022"]</li>
</ul>


<p class="govuk-body">
    @SharedLocalizer["FindOutIfEligibleForSustainableWarmthGrantString", "https://www.gov.uk/find-local-council"]
</p>

<p class="govuk-body">
    @SharedLocalizer["OfgemGuideToSchemesAndGrantsString", "https://www.ofgem.gov.uk/environmental-and-social-schemes"]
</p>

<p class="govuk-body">
    @SharedLocalizer["If you are a social housing tenant, please contact your landlord directly for support."]
</p>