@using GovUkDesignSystem
@using GovUkDesignSystem.Attributes
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Controllers
@using SeaPublicWebsite.Helpers
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions
@model SeaPublicWebsite.DataModels.UserDataModel
@{
    ViewBag.Title = "Your answers";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = @Url.Action("Temperature_Get", "EnergyEfficiency", new {reference = Model.Reference}),

        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

@{
    var rows = new List<SummaryListRowViewModel>();
    
    rows.Add(new()
    {
        Key = new() 
        {
            Classes = "govuk-!-width-one-quarter",
            Text = "Building type"
        },
        Value = new()
        {
            Classes = "govuk-!-width-one-half",
            Html = (@<text>
                        @(Model.PropertyType == PropertyType.House ? GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.HouseType) : null)
                        @(Model.PropertyType == PropertyType.Bungalow ? GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.BungalowType) : null)
                        @(Model.PropertyType == PropertyType.ApartmentFlatOrMaisonette ? GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.FlatType) : null)
                        @(GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.PropertyType))
                     </text>)
        },
        Actions = new()
        {
            Classes = "govuk-!-width-one-quarter",
            Items = new()
            {
                new()
                {
                    Href = Url.Action(nameof(EnergyEfficiencyController.PropertyType_Get), "EnergyEfficiency", new {reference = Model.Reference, change = true}),
                    Text = "Change",
                    VisuallyHiddenText = "address"
                }
            }
        }
    });
    
    rows.Add(new()
    {
        Key = new() 
        {
            Classes = "govuk-!-width-one-quarter",
            Text = "Year home was built"
        },
        Value = new()
        {
            Classes = "govuk-!-width-one-half",
            Text = Model.YearBuilt?.ToString() ?? "I'm not sure"
        },
        Actions = new()
        {
            Classes = "govuk-!-width-one-quarter",
            Items = new()
            {
                new()
                {
                    Href = @Url.Action(nameof(EnergyEfficiencyController.HomeAge_Get), "EnergyEfficiency", new {reference = Model.Reference, change = true}),
                    Text = "Change",
                    VisuallyHiddenText = "home type"
                }
            }
        }
    });
    
    rows.Add(new()
    {
        Key = new() 
        {
            Classes = "govuk-!-width-one-quarter",
            Text = "Wall type"
        },
        Value = new()
        {
            Classes = "govuk-!-width-one-half",
            Html = (@<text>
                        @(GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.WallConstruction))
                        @if (Model.WallConstruction == WallConstruction.DoNotKnow)
                        {
                            if (Model.Epc?.WallConstruction is not null || Model.YearBuilt.HasValue &&  Model.Epc?.ConstructionAgeBand is not null)
                            {
                                if (UserDataHelper.HasCavityWalls(Model))
                                {
                                    <p class="govuk-body-s sea-assumed-answer govuk-!-padding-top-2">
                                        Based on your Energy Performance Certificate, we will assume that you have @(UserDataHelper.HasInsulatedCavityWalls(Model) ? "insulated" : "uninsulated") cavity walls
                                    </p>
                                }
                                else if (UserDataHelper.HasSolidWalls(Model))
                                {
                                    <p class="govuk-body-s sea-assumed-answer govuk-!-padding-top-2">
                                        Based on your Energy Performance Certificate, we will assume that you have @(UserDataHelper.HasInsulatedSolidWalls(Model) ? "insulated" : "uninsulated") solid walls
                                    </p>
                                }
                            }
                            else if (Model.YearBuilt.HasValue)
                            {
                                if (UserDataHelper.HasCavityWalls(Model))
                                {
                                    <p class="govuk-body-s sea-assumed-answer govuk-!-padding-top-2">
                                        Based on your type of property, we will assume that you have @(UserDataHelper.HasInsulatedCavityWalls(Model) ? "insulated" : "uninsulated") cavity walls
                                    </p>
                                }
                                else if (UserDataHelper.HasSolidWalls(Model))
                                {
                                    <p class="govuk-body-s sea-assumed-answer govuk-!-padding-top-2">
                                        Based on your type of property, we will assume that you have @(UserDataHelper.HasInsulatedSolidWalls(Model) ? "insulated" : "uninsulated") solid walls
                                    </p>                                
                                }
                            }
                        }
                     </text>)
        },
        Actions = new()
        {
            Classes = "govuk-!-width-one-quarter",
            Items = new()
            {
                new()
                {
                    Href = @Url.Action(nameof(EnergyEfficiencyController.WallConstruction_Get), "EnergyEfficiency", new {reference = Model.Reference, change = true}),
                    Text = "Change",
                    VisuallyHiddenText = "home type"
                }
            }
        }
    });

    if (Model.WallConstruction is WallConstruction.Cavity or WallConstruction.Mixed)
    {
        rows.Add(new()
        {
            Key = new()
            {
                Classes = "govuk-!-width-one-quarter",
                Text = "Are your cavity walls insulated?"
            },
            Value = new()
            {
                Classes = "govuk-!-width-one-half",
                Html = (@<text>
                            @(GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.CavityWallsInsulated))
                            @if (Model.CavityWallsInsulated is CavityWallsInsulated.DoNotKnow)
                            {
                                if (Model.Epc is not null && (Model.Epc.CavityWallsInsulated is not null || Model.Epc.ConstructionAgeBand is not null))
                                {
                                    <p class="govuk-body-s sea-assumed-answers">
                                        Based on your Energy Performance Certificate, we will assume that you have @(UserDataHelper.HasInsulatedCavityWalls(Model) ? "insulated" : "uninsulated") cavity walls
                                    </p>
                                }
                                else if (Model.YearBuilt.HasValue)
                                {
                                    <p class="govuk-body-s sea-assumed-answer govuk-!-padding-top-2">
                                        Based on your type of property, we will assume that you have @(UserDataHelper.HasInsulatedCavityWalls(Model) ? "insulated" : "uninsulated") cavity walls
                                    </p>
                                }
                            }
                         </text>)
            },
            Actions = new()
            {
                Classes = "govuk-!-width-one-quarter",
                Items = new()
                {
                    new()
                    {
                        Href = Url.Action(nameof(EnergyEfficiencyController.CavityWallsInsulated_Get), "EnergyEfficiency", new { reference = Model.Reference, change = true }),
                        Text = "Change",
                        VisuallyHiddenText = "are cavity walls insulated"
                    }
                }
            }
        });
    }
    
    if (Model.WallConstruction is WallConstruction.Solid or WallConstruction.Mixed)
    {
        rows.Add(new()
        {
            Key = new() 
            {
                Classes = "govuk-!-width-one-quarter",
                Text = "Are your solid walls insulated?"
            },
            Value = new()
            {
                Classes = "govuk-!-width-one-half",
                Html = (@<text>
                            @(GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.SolidWallsInsulated))
                            @if (Model.SolidWallsInsulated is SolidWallsInsulated.DoNotKnow)
                            {
                                if (Model.Epc is not null && (Model.Epc.SolidWallsInsulated != null || Model.Epc.ConstructionAgeBand != null))
                                {
                                    <p class="govuk-body-s sea-assumed-answer govuk-!-padding-top-2">
                                        Based on your Energy Performance Certificate, we will assume that you have @(UserDataHelper.HasInsulatedSolidWalls(Model) ? "insulated" : "uninsulated") solid walls
                                    </p>
                                }
                                else if (Model.YearBuilt.HasValue)
                                {
                                    <p class="govuk-body-s sea-assumed-answer govuk-!-padding-top-1">
                                        Based on your type of property, we will assume that you have @(UserDataHelper.HasInsulatedSolidWalls(Model) ? "insulated" : "uninsulated") solid walls
                                    </p>
                                }
                            }
                         </text>)
            },
            Actions = new()
            {
                Classes = "govuk-!-width-one-quarter",
                Items = new()
                {
                    new()
                    {
                        Href = Url.Action(nameof(EnergyEfficiencyController.SolidWallsInsulated_Get), "EnergyEfficiency", new {reference = Model.Reference, change = true}),
                        Text = "Change",
                        VisuallyHiddenText = "are solid walls insulated"
                    }
                }
            }
        });
    }

    if (Model.PropertyType is not PropertyType.ApartmentFlatOrMaisonette || Model.FlatType is FlatType.GroundFloor)
    {
        rows.Add(new()
        {
            Key = new() 
            {
                Classes = "govuk-!-width-one-quarter",
                Text = "Floor construction"
            },
            Value = new()
            {
                Classes = "govuk-!-width-one-half",
                Html = (@<text>
                            @(GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.FloorConstruction))
                            @if (Model.FloorConstruction is FloorConstruction.DoNotKnow)
                            {
                                if (Model.Epc?.FloorConstruction is not null || !Model.YearBuilt.HasValue && Model.Epc?.ConstructionAgeBand is not null)
                                {
                                    if (UserDataHelper.HasSolidFloor(Model))
                                    {
                                        <p class="govuk-body-s sea-assumed-answer govuk-!-padding-top-2">
                                            Based on your Energy Performance Certificate, we will assume that you have an @(UserDataHelper.HasInsulatedFloor(Model) ? "insulated" : "uninsulated") solid concrete floor
                                        </p>
                                    }
                                    else if (UserDataHelper.HasSuspendedFloor(Model))
                                    {
                                        <p class="govuk-body-s sea-assumed-answer govuk-!-padding-top-2">
                                            Based on your Energy Performance Certificate, we will assume that you have an @(UserDataHelper.HasInsulatedFloor(Model) ? "insulated" : "uninsulated") suspended timber floor
                                        </p>
                                    }
                                }
                                else if (Model.YearBuilt.HasValue)
                                {
                                    if (UserDataHelper.HasSolidFloor(Model))
                                    {
                                        <p class="govuk-body-s sea-assumed-answer govuk-!-padding-top-2">
                                            Based on your type of property, we will assume that you have an @(UserDataHelper.HasInsulatedFloor(Model) ? "insulated" : "uninsulated") solid concrete floor
                                        </p>
                                    }
                                    else if (UserDataHelper.HasSuspendedFloor(Model))
                                    {
                                        <p class="govuk-body-s sea-assumed-answer govuk-!-padding-top-2">
                                            Based on your type of property, we will assume that you have an @(UserDataHelper.HasInsulatedFloor(Model) ? "insulated" : "uninsulated") suspended timber floor
                                        </p>                                
                                    }
                                }
                            }
                         </text>)
            },
            Actions = new()
            {
                Classes = "govuk-!-width-one-quarter",
                Items = new()
                {
                    new()
                    {
                        Href = Url.Action(nameof(EnergyEfficiencyController.FloorConstruction_Get), "EnergyEfficiency", new {reference = Model.Reference, change = true}),
                        Text = "Change",
                        VisuallyHiddenText = "floor construction"
                    }
                }
            }
        });
        
        if (Model.FloorConstruction is not FloorConstruction.DoNotKnow and not FloorConstruction.Other)
        {
            rows.Add(new()
            {
                Key = new() 
                {
                    Classes = "govuk-!-width-one-quarter",
                    Text = "Is your ground floor insulated?"
                },
                Value = new()
                {
                    Classes = "govuk-!-width-one-half",
                    Html = (@<text>
                                @(GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.FloorInsulated))
                                @if (Model.FloorInsulated is FloorInsulated.DoNotKnow)
                                {
                                    if (Model.Epc?.FloorConstruction is not null || !Model.YearBuilt.HasValue && Model.Epc?.ConstructionAgeBand is not null)
                                    {
                                        <p class="govuk-body-s sea-assumed-answer govuk-!-padding-top-2">
                                            Based on your Energy Performance Certificate, we will assume that you have an @(UserDataHelper.HasInsulatedFloor(Model) ? "insulated" : "uninsulated") floor
                                        </p>
                                    }
                                    else if (Model.YearBuilt.HasValue)
                                    {
                                        <p class="govuk-body-s sea-assumed-answer govuk-!-padding-top-1">
                                            Based on your type of property, we will assume that you have an @(UserDataHelper.HasInsulatedFloor(Model) ? "insulated" : "uninsulated") floor
                                        </p>
                                    }
                                }
                             </text>)
                },
                Actions = new()
                {
                    Classes = "govuk-!-width-one-quarter",
                    Items = new()
                    {
                        new()
                        {
                            Href = Url.Action(nameof(EnergyEfficiencyController.FloorInsulated_Get), "EnergyEfficiency", new {reference = Model.Reference, change = true}),
                            Text = "Change",
                            VisuallyHiddenText = "is floor insulated"
                        }
                    }
                }
            });
        }
    }
    
    @if (Model.PropertyType is not PropertyType.ApartmentFlatOrMaisonette || Model.FlatType is FlatType.TopFloor)
    {
        rows.Add(new()
        {
            Key = new() 
            {
                Classes = "govuk-!-width-one-quarter",
                Text = "Is any part of your roof flat?"
            },
            Value = new()
            {
                Classes = "govuk-!-width-one-half",
                Text = GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.RoofConstruction)
            },
            Actions = new()
            {
                Classes = "govuk-!-width-one-quarter",
                Items = new()
                {
                    new()
                    {
                        Href = Url.Action(nameof(EnergyEfficiencyController.RoofConstruction_Get), "EnergyEfficiency", new {reference = Model.Reference, change = true}),
                        Text = "Change",
                        VisuallyHiddenText = "is roof flat"
                    }
                }
            }
        });

        if (Model.RoofConstruction is not RoofConstruction.Flat)
        {
            rows.Add(new()
            {
                Key = new() 
                {
                    Classes = "govuk-!-width-one-quarter",
                    Text = "Do you have accessible loft space?"
                },
                Value = new()
                {
                    Classes = "govuk-!-width-one-half",
                    Text = GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.AccessibleLoftSpace)
                },
                Actions = new()
                {
                    Classes = "govuk-!-width-one-quarter",
                    Items = new()
                    {
                        new()
                        {
                            Href = Url.Action(nameof(EnergyEfficiencyController.AccessibleLoftSpace_Get), "EnergyEfficiency", new {reference = Model.Reference, change = true}),
                            Text = "Change",
                            VisuallyHiddenText = "accessible loft space"
                        }
                    }
                }
            });

            if (Model.AccessibleLoftSpace is AccessibleLoftSpace.Yes)
            {
                rows.Add(new()
                {
                    Key = new() 
                    {
                        Classes = "govuk-!-width-one-quarter",
                        Text = "Is your loft fully insulated?"
                    },
                    Value = new()
                    {
                        Classes = "govuk-!-width-one-half",
                        Html = (@<text>
                                    @(GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.RoofInsulated))
                                    @if (Model.RoofInsulated is RoofInsulated.DoNotKnow || Model.AccessibleLoftSpace is AccessibleLoftSpace.DoNotKnow)
                                    {
                                        if (Model.YearBuilt.HasValue)
                                        {
                                            <p class="govuk-body-s sea-assumed-answer govuk-!-padding-top-1">
                                                Based on your type of property, we will assume that you @(UserDataHelper.HasRoofInsulation(Model) ? "have " : "do not have") a fully insulated loft
                                            </p>
                                        }
                                    }
                                 </text>)
                    },
                    Actions = new()
                    {
                        Classes = "govuk-!-width-one-quarter",
                        Items = new()
                        {
                            new()
                            {
                                Href = Url.Action(nameof(EnergyEfficiencyController.RoofInsulated_Get), "EnergyEfficiency", new {reference = Model.Reference, change = true}),
                                Text = "Change",
                                VisuallyHiddenText = "is roof insulated"
                            }
                        }
                    }
                });
            }
        }
    }
    
    rows.Add(new()
    {
        Key = new() 
        {
            Classes = "govuk-!-width-one-quarter",
            Text = "Glazing type "
        },
        Value = new()
        {
            Classes = "govuk-!-width-one-half",
            Text = GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.GlazingType)
        },
        Actions = new()
        {
            Classes = "govuk-!-width-one-quarter",
            Items = new()
            {
                new()
                {
                    Href = Url.Action(nameof(EnergyEfficiencyController.GlazingType_Get), "EnergyEfficiency", new {reference = Model.Reference, change = true}),
                    Text = "Change",
                    VisuallyHiddenText = "type of glazing"
                }
            }
        }
    });
    
    rows.Add(new()
    {
        Key = new() 
        {
            Classes = "govuk-!-width-one-quarter",
            Text = "Outdoor space for heat pump"
        },
        Value = new()
        {
            Classes = "govuk-!-width-one-half",
            Text = GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.HasOutdoorSpace)
        },
        Actions = new()
        {
            Classes = "govuk-!-width-one-quarter",
            Items = new()
            {
                new()
                {
                    Href = Url.Action(nameof(EnergyEfficiencyController.OutdoorSpace_Get), "EnergyEfficiency", new {reference = Model.Reference, change = true}),
                    Text = "Change",
                    VisuallyHiddenText = "outdoor space"
                }
            }
        }
    });
    
    rows.Add(new()
    {
        Key = new() 
        {
            Classes = "govuk-!-width-one-quarter",
            Text = "Heating system "
        },
        Value = new()
        {
            Classes = "govuk-!-width-one-half",
            Html = (@<text>
                        @{
                            <span>
                                @(Model.HeatingType == HeatingType.Other 
                                    ? $"{GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.HeatingType)} - {GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.OtherHeatingType)}" 
                                    : GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.HeatingType))
                            </span>
                        }
                     </text>)
        },
        Actions = new()
        {
            Classes = "govuk-!-width-one-quarter",
            Items = new()
            {
                new()
                {
                    Href = Url.Action(nameof(EnergyEfficiencyController.HeatingType_Get), "EnergyEfficiency", new {reference = Model.Reference, change = true}),
                    Text = "Change",
                    VisuallyHiddenText = "how you heat your home"
                }
            }
        }
    });
    
    rows.Add(new()
    {
        Key = new() 
        {
            Classes = "govuk-!-width-one-quarter",
            Text = "Hot water cylinder "
        },
        Value = new()
        {
            Classes = "govuk-!-width-one-half",
            Html = (@<text>
                        @if (Model.HasHotWaterCylinder.HasValue)
                        {
                            @(GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.HasHotWaterCylinder))
                        }
                        else
                        {
                            if (Model.HeatingType is HeatingType.GasBoiler or HeatingType.OilBoiler or HeatingType.LpgBoiler)
                            {
                                @(GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.HasHotWaterCylinder))
                            }
                            else
                            {
                                @:Yes
                            }
                        }
                     </text>)
        },
        Actions = new()
        {
            Classes = "govuk-!-width-one-quarter",
            Items = new()
            {
                new()
                {
                    Href = Url.Action(nameof(EnergyEfficiencyController.HotWaterCylinder_Get), "EnergyEfficiency", new {reference = Model.Reference, change = true}),
                    Text = "Change",
                    VisuallyHiddenText = "do you have a hot water cylinder"
                }
            }
        }
    });
    
    rows.Add(new()
    {
        Key = new() 
        {
            Classes = "govuk-!-width-one-quarter",
            Text = "Size of household"
        },
        Value = new()
        {
            Classes = "govuk-!-width-one-half",
            Text = Model.NumberOfOccupants?.ToString() ?? "Question skipped"
        },
        Actions = new()
        {
            Classes = "govuk-!-width-one-quarter",
            Items = new()
            {
                new()
                {
                    Href = Url.Action(nameof(EnergyEfficiencyController.NumberOfOccupants_Get), "EnergyEfficiency", new {reference = Model.Reference, change = true}),
                    Text = "Change",
                    VisuallyHiddenText = "number of people over 5 in the home"
                }
            }
        }
    });
    
    rows.Add(new()
    {
        Key = new() 
        {
            Classes = "govuk-!-width-one-quarter",
            Text = "Heating pattern"
        },
        Value = new()
        {
            Classes = "govuk-!-width-one-half",
            Html = (@<text>
                        @{
                            <span>
                                @(Model.HeatingPattern == HeatingPattern.Other 
                                    ? $"{GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.HeatingPattern)} - {Model?.HoursOfHeating.ToString()} hours" 
                                    : GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.HeatingPattern))
                            </span>
                        }
                     </text>)
        },
        Actions = new()
        {
            Classes = "govuk-!-width-one-quarter",
            Items = new()
            {
                new()
                {
                    Href = Url.Action(nameof(EnergyEfficiencyController.HeatingPattern_Get), "EnergyEfficiency", new {reference = Model.Reference, change = true}),
                    Text = "Change",
                    VisuallyHiddenText = "heating pattern"
                }
            }
        }
    });

    rows.Add(new()
    {
        Key = new() 
        {
            Classes = "govuk-!-width-one-quarter",
            Text = "Temperature"
        },
        Value = new()
        {
            Classes = "govuk-!-width-one-half",
            Text = Model.Temperature.HasValue ? Model.Temperature.Value + "°C" : "Question skipped"
        },
        Actions = new()
        {
            Classes = "govuk-!-width-one-quarter",
            Items = new()
            {
                new()
                {
                    Href = Url.Action(nameof(EnergyEfficiencyController.Temperature_Get), "EnergyEfficiency", new {reference = Model.Reference, change = true}),
                    Text = "Change",
                    VisuallyHiddenText = "temperature"
                }
            }
        }
    });
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Check your answers
        </h1>
        <div class="govuk-hint">
            Please review the information we have gathered. You can still change your answers if anything looks wrong.
        </div>
    
        @(await Html.GovUkSummaryList(new SummaryListViewModel
        {
            Rows = rows
        }))

        <a href="@Url.Action("YourRecommendations_Get", "EnergyEfficiency", new {reference = Model.Reference})" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            See results
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
            </svg>
        </a>
    </div>
</div>