@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Helpers
@using SeaPublicWebsite.Models.EnergyEfficiency
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions;

@{
    ViewBag.Title = "Your answers";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = @Url.Action("Temperature", "EnergyEfficiency"),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Please review the information we have gathered about your property and update any incorrect information</h1>

        <p class="govuk-body">Add in some content here explaining why.</p>
        
        <h2 class="govuk-heading-m">@QuestionTheme.Suitability</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Living Circumstances
            </dt>
            <dd class="govuk-summary-list__value">
              @OwnershipStatus.OwnerOccupancy
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> circumstances</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Country
            </dt>
            <dd class="govuk-summary-list__value">
              @Country.England
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> country</span>
              </a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">@QuestionTheme.YourHome</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              123 Test, London, N19 TST
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of property
            </dt>
            <dd class="govuk-summary-list__value">
              @HouseType.Detatched @PropertyType.House
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> home type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Year property was built
            </dt>
            <dd class="govuk-summary-list__value">
              1950
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> year property was built</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Wall type
            </dt>
            <dd class="govuk-summary-list__value">
              @WallType.CavityInsulated
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> type of walls</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Roof type
            </dt>
            <dd class="govuk-summary-list__value">
              @RoofConstruction.Flat insulated
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> type of roof</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Outdoor space
            </dt>
            <dd class="govuk-summary-list__value">
              @HasOutdoorSpace.Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> has outdoor space</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Type of glazing
            </dt>
            <dd class="govuk-summary-list__value">
              @GlazingType.DoubleOrTripleGlazed
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> type of glazing</span>
              </a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">@QuestionTheme.Heating</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Type of heating
            </dt>
            <dd class="govuk-summary-list__value">
              @HeatingType.GasBoiler
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> type of heating</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Hot water cylinder
            </dt>
            <dd class="govuk-summary-list__value">
              @HasHotWaterCylinder.Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> has hot water cylinder</span>
              </a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">@QuestionTheme.Behaviour</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Typical heating pattern
            </dt>
            <dd class="govuk-summary-list__value">
              @HeatingPattern.AllDayAndNight
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> type of glazing</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Temperature
            </dt>
            <dd class="govuk-summary-list__value">
              21
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> temperature</span>
              </a>
            </dd>
          </div>
        </dl>

        <a href="@Url.Action("YourRecommendations_Get", "EnergyEfficiency")" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            See results
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>
    </div>
</div>
