@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Helpers
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions
@model SeaPublicWebsite.Models.EnergyEfficiency.AskForPostcodeViewModel
@{
    ViewBag.Title = "Enter your address";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = @Url.Action("OwnershipStatus_Get", "EnergyEfficiency", new {reference = Model.Reference}),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("AskForPostcode_Post", "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        What is the address of your property?
                    </h1>
                </legend>

                <div class="govuk-body">
                    You don’t need to provide this, but your address may allow us to access information stored about your property if it has an 
                    Energy Performance Certificate (EPC). This information could help you to answer if you’re not sure for some of the questions 
                    we ask about your property.
                </div>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            What is an Energy Performance Certificate (EPC)? 
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        An Energy Performance Certificate (EPC) is needed whenever a property is built, sold or rented. An accredited assessor 
                        surveys the property and produces the certificate. The certificate contains information about the property’s construction, 
                        energy use and typical energy costs. 
                    </div>
                </details>
                
                @(Html.GovUkTextInputFor(
                    m => m.HouseNameOrNumber,
                    labelOptions: new LabelViewModel
                    {
                        Text = "Building number or name",
                    },
                    classes: "govuk-input--width-10",
                    formGroupOptions: new FormGroupViewModel
                    {
                        Classes = "govuk-!-margin-bottom-2"
                    },
                    placeholder: "e.g. 19 or Swiss Cottage"
                    ))

                @(Html.GovUkTextInputFor(
                    m => m.Postcode,
                    labelOptions: new LabelViewModel
                    {
                        Text = "Postcode",
                    },
                    classes: "govuk-input--width-10",
                    placeholder: "e.g. AB12 3CD"
                    ))
            </fieldset>
            
            <div class="govuk-button-group">
                @(Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Continue",
                }))
                <a href="@Url.Action("PropertyType_Get", "EnergyEfficiency", new {reference = Model.Reference})"
                   class="govuk-link">
                    Skip this question
                </a>
            </div>
            
        </form>
        
    </div>
</div>
