@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SeaPublicWebsite.BusinessLogic.Models.Enums
@using SeaPublicWebsite.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@model SeaPublicWebsite.Models.EnergyEfficiency.BungalowTypeViewModel
@{
    ViewBag.Title = SharedLocalizer["Bungalow type"].Value;
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
           {
               Text = SharedLocalizer["Back"].Value,
               Href = Model.BackLink,
           })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action(nameof(EnergyEfficiencyController.BungalowType_Post), "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            @Html.AntiForgeryToken()
            
            @{
                Func<object, object> details =
                    @<text>
                        <p class="govuk-body">
                            @SharedLocalizer["Energy use varies between different buildings, particularly for heating."]
                        </p>
                        <p class="govuk-body">
                            @SharedLocalizer["Some home improvements are only possible or appropriate for certain buildings."]
                        </p>
                     </text>;
            }
            
            @(await Html.GovUkRadiosFor(m => m.BungalowType,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = SharedLocalizer["What kind of bungalow do you have?"].Value,
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true
                    }
                },
                radioHints: new Dictionary<BungalowType, HintViewModel>
                {
                    {
                        BungalowType.Detached,
                        new HintViewModel
                        {
                            Text = SharedLocalizer["Does not share any of its walls with another house or building"].Value
                        }
                    },
                    {
                        BungalowType.SemiDetached,
                        new HintViewModel
                        {
                            Text = SharedLocalizer["Is attached to one other house or building"].Value
                        }
                    },
                    {
                        BungalowType.Terraced,
                        new HintViewModel
                        {
                            Text = SharedLocalizer["Sits in the middle with a house or building on each side"].Value
                        }
                    },
                    {
                        BungalowType.EndTerrace,
                        new HintViewModel
                        {
                            Text = SharedLocalizer["Sits at the end of a row of similar houses with one house attached to it"].Value
                        }
                    },
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                               @await Html.GovUkDetails(new DetailsViewModel
                                      {
                                          SummaryText = SharedLocalizer["Why do we need to know this?"].Value,
                                          Html = details
                                      })
                            </text>
                }
                ))

            @await Html.GovUkButton(new ButtonViewModel
                   {
                       Text = SharedLocalizer["Continue"].Value
                   })
            
        </form>
        
    </div>
    <div class="govuk-grid-column-one-third">
        @await Html.PartialAsync("/Views/EnergyEfficiency/Partials/_AdditionalSupport.cshtml")
    </div>
</div>