@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SeaPublicWebsite.BusinessLogic.Models.Enums

@model SeaPublicWebsite.Models.EnergyEfficiency.CavityWallsInsulatedViewModel
@{
    ViewBag.Title = "Cavity Walls Insulated";
}

@section BackLink {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("CavityWallsInsulated_Post", "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            @Html.AntiForgeryToken()
            
            @{
                Func<object, object> details = 
                    @<text>
                       @if (Model.YearBuilt is >= YearBuilt.From1996To2011)
                       {
                           <p class="govuk-body">
                               Homes built after 1991 were typically built with insulating material between the outer and inner walls. 
                           </p>
                           <p class="govuk-body">
                               If your home was converted, for example it was a shop or other commercial premises before, 
                               it may have been built without insulation.
                           </p>
                       }
                       else
                       {
                           <p class="govuk-body">
                               Many cavity walls can be insulated by injecting insulation material into the cavity from the outside. 
                               A specialist company will drill holes in the outside walls, inject insulation through the holes and 
                               then seal them with cement.
                           </p>
                           <p class="govuk-body">
                               If there are small, filled 22 millimetre holes at regular intervals around the outside walls, 
                               it’s a sign they may have been insulated.
                           </p>
                       }
                     </text>;
                
                Func<object, object> epcHint = null;
                if (Model.Epc?.CavityWallsInsulated is not null)
                {
                    epcHint = 
                        @<p class="govuk-body">
                            Your @Model.Epc?.LodgementDate?.Year Energy Performance Certificate suggests you have
                            <strong>
                                @(Model.Epc?.CavityWallsInsulated switch {
                                    CavityWallsInsulated.No => "uninsulated",
                                    CavityWallsInsulated.Some => "some insulated",
                                    CavityWallsInsulated.All => "insulated",
                                    _ => throw new ArgumentOutOfRangeException()})
                            </strong>
                            cavity walls.
                        </p>;
                }
            }
            
            @(await Html.GovUkRadiosFor(m => m.CavityWallsInsulated,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "Are your cavity walls insulated?",
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true
                    }
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                               <p class="govuk-body">
                                   Cavity walls built before 1991 are typically uninsulated, unless you or someone before you had insulation installed.
                               </p>
                               <p class="govuk-body">
                                   Cavity walls built after 1991 were typically built with insulating material between the outer and inner walls.
                               </p>

                               @await Html.GovUkDetails(new DetailsViewModel
                               {
                                   SummaryText = "Help me answer this question",
                                   Html = details
                               })

                               @if (epcHint is not null)
                               {
                                   @await Html.GovUkInsetText(new InsetTextViewModel
                                   {
                                       Classes = "sea-epc-hint",
                                       Html = epcHint
                                   })
                               }
                            </text>
                }))

            @await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue"
            })
            
        </form>
        
    </div>
</div>
