@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Helpers
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions
@model SeaPublicWebsite.Models.EnergyEfficiency.ConfirmAddressViewModel
@{
    ViewBag.Title = "Confirm your address";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = @Url.Action("AskForPostcode_Get", "EnergyEfficiency", new {reference = Model.Reference}),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <span class="govuk-caption-l govuk-!-margin-bottom-4">
            @(QuestionSection.YourHome.GetDisplayName())
        </span>
        <h1 class="govuk-heading-l">
            Is this your address?
        </h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.Address.line_1)<br/>
                    @if (!string.IsNullOrWhiteSpace(Model.Address.line_2))
                    {
                        @(Model.Address.line_2)
                        <br/>
                    }
                    @(Model.Address.town_or_city)<br/>
                    @(Model.Address.postcode)
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@Url.Action("AskForPostcode_Get", "EnergyEfficiency", new {reference = Model.Reference})">
                        Change<span class="govuk-visually-hidden"> address</span>
                    </a>
                </dd>
            </div>
        </dl>

        <div class="govuk-button-group">
            @(Html.GovUkButton(new ButtonViewModel
            {
                Text = "Yes, continue",
                Href = Url.Action("PropertyType_Get", "EnergyEfficiency", new {reference = Model.Reference})
            }))
            <a class="govuk-link" href="@Url.Action("PropertyType_Get", "EnergyEfficiency", new {reference = Model.Reference})">
                No, enter my address manually
            </a>
        </div>
        
    </div>
</div>
