@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Models.EnergyEfficiency
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions
@model SeaPublicWebsite.Models.EnergyEfficiency.EmailAddressViewModel
@{
    ViewBag.Title = "Email address";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.Change
            ? @Url.Action("AnswerSummary", "EnergyEfficiency", new {reference = Model.Reference})
            : @Url.Action("Temperature_Get", "EnergyEfficiency", new {reference = Model.Reference}),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form method="post" action="@Url.Action("EmailAddress_Post", "EnergyEfficiency")">

            @(await Html.GovUkRadiosFor<EmailAddressViewModel, HasEmailAddress>(
                m => m.HasEmailAddress,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "Do you have an email address?",
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true,
                    },
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                               <p class="govuk-body">
                                   We will use your email to send you a link and reference number 
                                   that you can use to get back to this service quickly.
                               </p>
                               <p class="govuk-body">
                                   You will also have the opportunity to keep a downloaded copy of 
                                   any of the recommendations or your action plan, if you wish. 
                               </p>
                               <p class="govuk-body">
                                   Your email will not be shared or used for any other purposes.
                               </p>
                            </text>
                },
                conditionalOptions: new Dictionary<HasEmailAddress, Conditional>
                {
                    {
                        HasEmailAddress.Yes,
                        new Conditional
                        {
                            Html = (@<text>
                                        @await Html.GovUkTextInputFor(
                                            m => m.EmailAddress,
                                            labelOptions: new LabelViewModel
                                            {
                                                Text = "Email address",
                                            },
                                            autocomplete: "email",
                                            placeholder: "e.g. my.email@example.com"
                                            )
                                     </text>)
                        }
                    }
                }))

            <div class="govuk-button-group">
                @(await Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Continue",
                }))
                <a href="@Url.Action("AnswerSummary", "EnergyEfficiency", new {reference = Model.Reference})"
                   class="govuk-link">
                    Skip this question
                </a>
            </div>

        </form>

    </div>
</div>
