@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Helpers
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions
@model SeaPublicWebsite.Models.EnergyEfficiency.GlazingTypeViewModel;
@{
    ViewBag.Title = "Glazing Type";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = @Url.Action("RoofInsulated_Get", "EnergyEfficiency", new {reference = Model.Reference}),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("GlazingType_Post", "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            
            @(Html.GovUkRadiosFor(m => m.GlazingType,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <span class="govuk-caption-l govuk-!-margin-bottom-4">
                                       @(QuestionSection.YourHome.GetDisplayName())
                                   </span>
                                   <h1 class="govuk-fieldset__heading">
                                       What type of windows does your property have?
                                   </h1>
                                </text>,
                        Classes = "govuk-fieldset__legend--l"
                    }
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                               <details class="govuk-details" data-module="govuk-details">
                                   <summary class="govuk-details__summary">
                                       <span class="govuk-details__summary-text">
                                           Help me decide what type of windows I have
                                       </span>
                                   </summary>
                                   <div class="govuk-details__text">
                                       <ul class="govuk-list govuk-list--bullet">
                                           <li>A single glazed window has a single pane of glass.</li>
                                           <li class="govuk-!-margin-bottom-0">A double glazed window has two panes of glass, separated by air or gas, to make up a single window. A triple glazed window has three panes of glass.</li>
                                       </ul>
                                   </div>
                               </details>
                            </text>
                }
            ))

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
            
        </form>
        
    </div>
</div>
