@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Helpers
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions
@model SeaPublicWebsite.Models.EnergyEfficiency.HeatingTypeViewModel;
@{
    ViewBag.Title = "Heating Type";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.Change
            ? @Url.Action("AnswerSummary", "EnergyEfficiency", new {reference = Model.Reference})
            : @Url.Action("OutdoorSpace_Get", "EnergyEfficiency", new {reference = Model.Reference}),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("HeatingType_Post", "EnergyEfficiency", new {reference = Model.Reference, change = Model.Change})" method="post" novalidate>
            
            @(Html.GovUkRadiosFor(m => m.HeatingType,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <h1 class="govuk-fieldset__heading">
                                       What is your main heating system?
                                   </h1>
                                </text>,
                        Classes = "govuk-fieldset__legend--l"
                    }
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                               <details class="govuk-details" data-module="govuk-details">
                                   <summary class="govuk-details__summary">
                                       <span class="govuk-details__summary-text">
                                           Help me decide how I heat my home
                                       </span>
                                   </summary>
                                   <div class="govuk-details__text">
                                       <p class="govuk-body">
                                           Most people in England and Wales heat their home with a gas boiler.
                                       </p>
                                       <p class="govuk-body">
                                           People who have an oil or liquified petroleum gas (LPG) boiler will order fuel in advance.
                                       </p>
                                       <p class="govuk-body">
                                           Storage heaters convert electricity to heat and provide that heat the next day.
                                       </p>
                                       <p class="govuk-body">
                                           Direct acting electric heating refers to all electric radiators or
                                           plug-in heaters that use electricity at the same time as they emit heat.
                                       </p>
                                       <p class="govuk-body">
                                           A heat pump transfers heat energy from the outdoor environment inside,
                                           either through a warm-air system or through radiators or underfloor heating
                                       </p>
                                   </div>
                               </details>
                               <div class="govuk-warning-text">
                                   <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                   <strong class="govuk-warning-text__text">
                                       <span class="govuk-warning-text__assistive">Note</span>
                                       If you have more than one heating type, select the system that you use more often, 
                                       or that is able to heat the whole home. 
                                       For example, select ‘Oil boiler’ if you have an oil boiler and wood burning stove.
                                   </strong>
                               </div>
                            </text>
                },
                itemHintOptions: new Dictionary<HeatingType?, HintViewModel>
                {
                    {
                        HeatingType.LpgBoiler,
                        new HintViewModel
                        {
                            Text = "You have an LPG boiler if you order gas deliveries to a tank in your garden"
                        }
                    },
                    {
                        HeatingType.DirectActionElectric,
                        new HintViewModel
                        {
                            Text = "This could include electric fires, fan heaters or electric radiators"
                        }
                    },
                }
            ))

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
            
        </form>
        
    </div>
</div>
