@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Helpers
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions
@model SeaPublicWebsite.Models.EnergyEfficiency.HeatingPatternViewModel
@{
    ViewBag.Title = "Heating pattern";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.Change
            ? @Url.Action("AnswerSummary", "EnergyEfficiency", new {reference = Model.Reference})
            : @Url.Action("NumberOfOccupants_Get", "EnergyEfficiency", new {reference = Model.Reference}),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("HeatingPattern_Post", "EnergyEfficiency", new {reference = Model.Reference, change = Model.Change})" method="post" novalidate>
            
            @(Html.GovUkRadiosFor(m => m.HeatingPattern,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <h1 class="govuk-fieldset__heading">
                                       When do you heat your home on a typical winter day?
                                   </h1>
                                </text>,
                        Classes = "govuk-fieldset__legend--l"
                    }
                },
                new HintViewModel
                {
                    Html = @<text>
                               <div class="govuk-body">
                                   Heating use can vary throughout the year and from one day to the next. 
                                   Select an option that best resembles a typical day in winter.
                               </div>
                                <details class="govuk-details" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                            Help me to answer this question
                                        </span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        <p class="govuk-body">
                                            You may have your heating run all day but switch it off before you go to sleep at night.
                                        </p>
                                        <p class="govuk-body">
                                            Households that aren’t home during the day, for example those who leave for work or school, 
                                            may only have their heating on in the morning and in the evening. 
                                        </p>
                                        <p class="govuk-body">
                                            Some people use their heating less frequently, for example only in the morning or only in the evening.
                                        </p>
                                        <p class="govuk-body">
                                            Choose the closest option if you don’t see an option that matches you.
                                        </p>
                                    </div>
                                </details>
                            </text>
                }
            ))

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
            
        </form>
        
    </div>
</div>
