@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SeaPublicWebsite.BusinessLogic.Models.Enums
@using SeaPublicWebsite.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@model SeaPublicWebsite.Models.EnergyEfficiency.HeatingTypeViewModel;
@{
    ViewBag.Title = @SharedLocalizer["Heating Type"].Value;
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
           {
               Text = @SharedLocalizer["Back"].Value,
               Href = Model.BackLink,
           })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action(nameof(EnergyEfficiencyController.HeatingType_Post), "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            @Html.AntiForgeryToken()
            
            @{
                Func<object, object> details = 
                    @<text>
                        <p class="govuk-body">
                            @SharedLocalizer["Most people in England and Wales heat their home with a gas boiler."]
                        </p>
                        <p class="govuk-body">
                            @SharedLocalizer["People who have an oil or liquified petroleum gas (LPG) boiler will order fuel in advance."]
                        </p>
                        <p class="govuk-body">
                            @SharedLocalizer["Storage heaters convert electricity to heat and provide that heat the next day."]
                        </p>
                        <p class="govuk-body">
                            @SharedLocalizer["Direct acting electric heating refers to all electric radiators or plug-in heaters that use electricity at the same time as they emit heat."]
                        </p>
                        <p class="govuk-body">
                            @SharedLocalizer["A heat pump transfers heat energy from the outdoor environment inside, either through a warm-air system or through radiators or underfloor heating"]
                        </p>
                     </text>;
                
                Func<object, object> epcHint = null;
                if (Model.Epc?.EpcHeatingType is not null)
                {
                    epcHint =
                        @<p class="govuk-body">
                            @(Model.Epc?.EpcHeatingType switch {
                                EpcHeatingType.GasBoiler => @SharedLocalizer["EPCSuggestsMainHeatingIsGasBoilerString", Model.Epc.LodgementYear],
                                EpcHeatingType.OilBoiler => @SharedLocalizer["EPCSuggestsMainHeatingIsOilBoilerString", Model.Epc.LodgementYear],
                                EpcHeatingType.LpgBoiler => @SharedLocalizer["EPCSuggestsMainHeatingIsLPGBoilerString", Model.Epc.LodgementYear],
                                EpcHeatingType.Storage => @SharedLocalizer["EPCSuggestsMainHeatingIsStorageString", Model.Epc.LodgementYear],
                                EpcHeatingType.DirectActionElectric => @SharedLocalizer["EPCSuggestsMainHeatingIsDirectActionElectricString", Model.Epc.LodgementYear],
                                EpcHeatingType.HeatPump => @SharedLocalizer["EPCSuggestsMainHeatingIsHeatPumpString", Model.Epc.LodgementYear],
                                EpcHeatingType.CoalOrSolidFuel or EpcHeatingType.Biomass or EpcHeatingType.Other => @SharedLocalizer["EPCSuggestsMainHeatingIsOtherTypeString", Model.Epc.LodgementYear],
                                _ => throw new ArgumentOutOfRangeException()})
                        </p>;
                }
                else
                {
                    epcHint =
                        @<p class="govuk-body">
                            @SharedLocalizer["MostCommonMethodOfHeatingIsGasBoilerString"]
                        </p>;
                }
            }
            
            @(await Html.GovUkRadiosFor(m => m.HeatingType,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = @SharedLocalizer["What is your main heating system?"].Value,
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true
                    }
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                               @await Html.GovUkDetails(new DetailsViewModel
                                      {
                                          SummaryText = @SharedLocalizer["Help me answer this question"].Value,
                                          Html = details
                                      })
                               
                               @if (epcHint is not null)
                               {
                                   @await Html.GovUkInsetText(new InsetTextViewModel
                                          {
                                              Classes = "sea-epc-hint",
                                              Html = epcHint
                                          })
                               }
                               
                               @await Html.GovUkWarningText(new WarningTextViewModel
                                      {
                                          Text = @SharedLocalizer["If you have more than one heating type, select the system that you use more often, or that is able to heat the whole home. For example, select ‘Oil boiler’ if you have an oil boiler and wood burning stove."].Value,
                                          IconFallbackText = @SharedLocalizer["Note"].Value,
                                      })
                            </text>
                },
                radioHints: new Dictionary<HeatingType, HintViewModel>
                {
                    {
                        HeatingType.LpgBoiler,
                        new HintViewModel
                        {
                            Text = @SharedLocalizer["You have an LPG boiler if you order gas deliveries to a tank in your garden"].Value
                        }
                    },
                    {
                        HeatingType.DirectActionElectric,
                        new HintViewModel
                        {
                            Text = @SharedLocalizer["This could include electric fires, fan heaters or electric radiators"].Value
                        }
                    },
                }
                ))

            @await Html.GovUkButton(new ButtonViewModel
                   {
                       Text = @SharedLocalizer["Continue"].Value
                   })
            
        </form>
        
    </div>
    <div class="govuk-grid-column-one-third">
        @await Html.PartialAsync("/Views/EnergyEfficiency/Partials/_AdditionalSupport.cshtml")
    </div>
</div>