@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model SeaPublicWebsite.Models.EnergyEfficiency.HomeAgeViewModel
@{
    ViewBag.Title = "Ownership status";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("HomeAge_Post", "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @(Html.HiddenFor(m => m.Change))
            @Html.HiddenFor(m => m.PropertyType)

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        Roughly what year was your property built?
                    </legend>

                    <p class="govuk-body">
                        If you’re not sure when the property was built but know the era, input any date in that period. For example, Victorian 1890.  
                    </p>
                    <p class="govuk-body">
                        If you don’t know, you can skip this question. We will take a best guess based on other information you provide.
                    </p>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Help me answer this question
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">
                                You may find information about the age of the property in title deeds or other paperwork you received when 
                                you bought your home, or home insurance paperwork.
                            </p>
                            <p class="govuk-body">
                                If your property is a conversion, enter the year the building was originally built, regardless of 
                                what the building was used for before it was your home.
                            </p>
                            <p class="govuk-body">
                                If your property has been extended, enter the year of the oldest part of the building.
                            </p>
                        </div>
                    </details>

                    @(await Html.GovUkTextInputFor(
                        m => m.YearBuilt,
                        classes: "govuk-input--width-5",
                        hintOptions: new HintViewModel
                        {
                            Html = @<text>
                                       <div class="govuk-hint">
                                           Enter the year your property was built, approximately. It does not have to be exact.
                                       </div>
                                    </text>
                        },
                        placeholder: "e.g. 1950"
                        ))
                </fieldset>
            </div>

            <div class="govuk-button-group">
                @(await Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Continue",
                }))
                <a href="@(Model.Change
                             ? Url.Action("AnswerSummary", "EnergyEfficiency", new {reference = Model.Reference})
                             : Url.Action("WallConstruction_Get", "EnergyEfficiency", new {reference = Model.Reference}))"
                   class="govuk-link">
                    Skip this question
                </a>
            </div>

        </form>
        
    </div>
</div>
