@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Helpers
@using SeaPublicWebsite.Models.EnergyEfficiency
@model SeaPublicWebsite.Models.EnergyEfficiency.HomeAgeViewModel
@{
    ViewBag.Title = "Ownership status";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = @Url.Action("Index", "EnergyEfficiency"),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  
        <form action="@Url.Action("HomeAge_Post", "EnergyEfficiency")" method="post" novalidate>
            <span class="govuk-heading-m">@Model.Section.GetDisplayName()</span>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      @Model.Title
                  </legend>
                  <details class="govuk-details" data-module="govuk-details">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          @Model.HelpTitle
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                          @Model.HelpText
                      </div>
                </details>
                  <div id="passport-number-hint" class="govuk-hint">
                      @Model.Description
                  </div>
                    @(Html.GovUkTextInputFor(m => m.HomeAge, classes:"govuk-input--width-4"))
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
