@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions
@model SeaPublicWebsite.Models.EnergyEfficiency.HomeAgeViewModel
@{
    ViewBag.Title = "Ownership status";
}

@section BeforeMain {
    @{
        string backLinkHref;

        if (Model.Change)
        {
            backLinkHref = @Url.Action("AnswerSummary", "EnergyEfficiency", new {reference = Model.Reference});
        }
        else
        {
            switch (Model.PropertyType)
            {
                case PropertyType.House:
                    backLinkHref = @Url.Action("HouseType_Get", "EnergyEfficiency", new {reference = Model.Reference});
                    break;
                case PropertyType.Bungalow:
                    backLinkHref = @Url.Action("BungalowType_Get", "EnergyEfficiency", new {reference = Model.Reference});
                    break;
                case PropertyType.ApartmentFlatOrMaisonette:
                    backLinkHref = @Url.Action("FlatType_Get", "EnergyEfficiency", new {reference = Model.Reference});
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
        }
    }
    
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = backLinkHref,
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("HomeAge_Post", "EnergyEfficiency", new {reference = Model.Reference, change = Model.Change})" method="post" novalidate>
            
            @Html.HiddenFor(m => m.PropertyType)

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        Roughly what year was your property built?
                    </legend>

                    <p class="govuk-body">
                        If you’re not sure when the property was built but know the era, input any date in that period. For example, Victorian 1890.  
                    </p>
                    <p class="govuk-body">
                        If you don’t know, you can skip this question. We will take a best guess based on other information you provide.
                    </p>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Help me to answer this question
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">
                                You may find information about the age of the property in title deeds or other
                                paperwork you received when you bought your home.
                            </p>
                            <p class="govuk-body">
                                If the home is a conversion, enter the year the building was originally built,
                                regardless of what it was used for before it was your home.
                            </p>
                        </div>
                    </details>

                    @(Html.GovUkTextInputFor(
                        m => m.YearBuilt,
                        classes: "govuk-input--width-5",
                        hintOptions: new HintViewModel
                        {
                            Html = @<text>
                                       <div class="govuk-hint">
                                           Enter the year your property was built, approximately. It does not have to be exact.
                                       </div>
                                    </text>
                        },
                        placeholder: "e.g. 1950"
                        ))
                </fieldset>
            </div>

            <div class="govuk-button-group">
                @(Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Continue",
                }))
                <a href="@Url.Action("WallConstruction_Get", "EnergyEfficiency", new {reference = Model.Reference})"
                   class="govuk-link">
                    Skip this question
                </a>
            </div>

        </form>
        
    </div>
</div>
