@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SeaPublicWebsite.BusinessLogic.Models.Enums
@model SeaPublicWebsite.Models.EnergyEfficiency.HotWaterCylinderViewModel
@{
    ViewBag.Title = "Hot water cylinder";
}

@section BackLink {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("HotWaterCylinder_Post", "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            @Html.AntiForgeryToken()
            
            @{
                Func<object, object> epcHint = null;
                if (Model.Epc?.HasHotWaterCylinder is not null)
                {
                    epcHint = 
                        @<p class="govuk-body">
                            Your @Model.Epc?.LodgementDate?.Year Energy Performance Certificate suggests you
                            <strong>
                                @(Model.Epc?.HasHotWaterCylinder switch {
                                    HasHotWaterCylinder.Yes => "have",
                                    HasHotWaterCylinder.No => "do not have",
                                    _ => throw new ArgumentOutOfRangeException()})
                            </strong>
                            a hot water cylinder.
                        </p>;
                }
            }
            
            @(await Html.GovUkRadiosFor(m => m.HasHotWaterCylinder,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "Do you have a hot water cylinder?",
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true
                    }
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                               <p class="govuk-body">
                                   If you have a combi boiler, you will not have a hot water cylinder.
                               </p>
                               <p class="govuk-body">
                                   If you’re not sure what a hot water cylinder is, we’ve provided some guidance on this page that could help.
                               </p>

                               @if (epcHint is not null)
                               {
                                   @await Html.GovUkInsetText(new InsetTextViewModel
                                   {
                                       Classes = "sea-epc-hint",
                                       Html = epcHint
                                   })
                               }
                            </text>
                }
            ))

            @await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue"
            })
            
        </form>
        
    </div>
    <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                What is a hot water cylinder?
            </h2>
            <p class="govuk-body-s">
                A hot water cylinder, or hot water tank, stores hot water and is separate from your boiler. 
            </p>
            <p class="govuk-body-s">
                If you have a warm tank in an airing cupboard or loft space, it’s likely this is your hot water cylinder.
            </p>
            <img src="/assets/images/hot-water-cylinder-in-cupboard-with-door.svg" style="max-width: 100%"/>
            <p class="govuk-body-s">
                Image above is of a typical domestic hot water cylinder. 
                It is a large round cylinder with pipes attached at multiple places. 
                It is separate from the boiler.
            </p>
        </aside>
    </div>
</div>
