@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Models.EnergyEfficiency
@model SeaPublicWebsite.Models.EnergyEfficiency.NewOrReturningUserViewModel
@{
    ViewBag.Title = "Energy Efficiency Questionnaire";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = @Url.Action("Index", "EnergyEfficiency"),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form method="post" action="@Url.Action("NewOrReturningUser_Post", "EnergyEfficiency")">

            @Html.GovUkRadiosFor(
                m => m.NewOrReturningUser,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "Have you used this service before?",
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true,
                    },
                },
                conditionalOptions: new Dictionary<NewOrReturningUser?, Func<object, object>>
                {
                    {
                        NewOrReturningUser.ReturningUser,
                        @<text>
                            @(Html.GovUkTextInputFor(
                                m => m.Reference,
                                labelOptions: new LabelViewModel
                                {
                                    Text = "Your 8-digit reference",
                                },
                                classes: "govuk-input--width-10"
                                ))
                         </text>
                    }
                })

            @(Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue",
            }))

        </form>

    </div>
    <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">What does this mean?</h2>
            <p class="govuk-body-s">
                If you have visited the service before, you can get your recommendations with the 
                8-digit reference number provided to you during your last visit.
            </p>
        </aside>
        <aside class="sea-user-reference" role="complementary">
            <span class="govuk-caption-l">Example reference</span>
            <h2 class="govuk-heading-l govuk-!-padding-bottom-3" id="subsection-title">ABC123DE</h2>
        </aside>
    </div>
</div>
