@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.BusinessLogic.Models.Enums
@using SeaPublicWebsite.Controllers
@using SeaPublicWebsite.Models.EnergyEfficiency
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@model SeaPublicWebsite.Models.EnergyEfficiency.NoRecommendationsViewModel;

@{
    ViewBag.Title = @SharedLocalizer["Your home is energy efficient"].Value;
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
           {
               Text = @SharedLocalizer["Back"].Value,
               Href = Model.BackLink,
           })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @await Html.GovUkPanel(new PanelViewModel
               {
                   TitleText = @SharedLocalizer["Your home is energy efficient"].Value,
                   Text = @SharedLocalizer["Your home is well insulated"].Value
               })
        
        <p class="govuk-body">@SharedLocalizer["From the information collected, it seems like your home is already energy efficient and may not significantly benefit from further measures."]</p>
        <p class="govuk-body">@SharedLocalizer["You may be able to make changes to how you use energy to help reduce your bills."]</p>
        
        <h2 class="govuk-heading-l">@SharedLocalizer["What else you can do"]</h2>
        
        <p class="govuk-body">
            @SharedLocalizer["If you’d like to do more to improve the energy efficiency of your home, consider the following:"]
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>@SharedLocalizer["WhenBuyingNewAppliancesUpgradeEnergyLabelsString", "https://energylabel.org.uk/"]</li>
            @if (Model?.HasOutdoorSpace != HasOutdoorSpace.No)
            {
                <li>@SharedLocalizer["InstallHeatPumpCheckIfHomeSuitableString", "https://www.heat-pump-check.service.gov.uk/"]</li>
            }
        </ul>

        <h2 class="govuk-heading-l">@SharedLocalizer["Still need help?"]</h2>
        <p class="govuk-body">@SharedLocalizer["VisitEnergySavingTrustWebsiteString", "https://energysavingtrust.org.uk/"]</p>

        <h2 class="govuk-heading-m">
            @SharedLocalizer["Returning to this service"]
        </h2>
        
        <div class="sea-user-reference govuk-!-margin-bottom-6" role="complementary">
            <h2 class="govuk-body-l govuk-!-margin-0">@SharedLocalizer["Your reference code"]</h2>
            <span class="govuk-heading-l" id="subsection-title">@Model.Reference</span>
        </div>
        
        <p class="govuk-body">
            @SharedLocalizer["You can come back to this page using your reference number or we can send a link to your email."]
        </p>
        
        @{ await Html.RenderPartialAsync("ActionPlan/Partials/_SendEmail", new YourSavedRecommendationsEmailViewModel
           {
               Reference = Model.Reference,
               EmailAddress = Model.EmailAddress,
               EmailSent = Model.EmailSent,
               PostAction = Url.Action(nameof(EnergyEfficiencyController.NoRecommendations_Post), "EnergyEfficiency", new {reference = Model.Reference})
           }); }
        
        <h2 class="govuk-heading-m">
            @SharedLocalizer["Start over"]
        </h2>
        <p class="govuk-body">
            @SharedLocalizer["See if there are improvements you can make to another property."]
        </p>
        <p class="govuk-body">
            <a class="govuk-link" href="@Url.Action(nameof(EnergyEfficiencyController.Index), "EnergyEfficiency")">
                @SharedLocalizer["Start again for another property"]
            </a>
        </p>
        
        <h2 class="govuk-heading-m">
            @SharedLocalizer["Give feedback"]
        </h2>
        <p class="govuk-body">
            @SharedLocalizer["This service is still in its early stages and under active development."]
        </p>
        <p class="govuk-body">
            @SharedLocalizer["Your feedback can help us to shape how the service develops so that it can best serve the needs of the public."]
        </p>
        <a class="govuk-link" href=@Constants.FEEDBACK_URL_DEFAULT target="_blank">
            @SharedLocalizer["Leave some feedback for this service (opens in new tab)"]
        </a>

    </div>
    <div class="govuk-grid-column-one-third">
        @await Html.PartialAsync("/Views/EnergyEfficiency/Partials/_AdditionalSupport.cshtml")
    </div>
</div>