@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Helpers
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions
@model SeaPublicWebsite.Models.EnergyEfficiency.NumberOfOccupantsViewModel
@{
    ViewBag.Title = "Number of occupants";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("NumberOfOccupants_Post", "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @(Html.HiddenFor(m => m.Change))
            

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    How many people live in your home?
                </legend>
                
                <p class="govuk-body">
                    Count all adults and any children over 5 years old.
                </p>

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Why do we need to know this?
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        This information allows us to estimate how much energy your household uses.
                    </div>
                </details>

                @(await Html.GovUkTextInputFor(
                    m => m.NumberOfOccupants,
                    classes: "govuk-input--width-5",
                    placeholder: "e.g. 3"
                    ))
            </fieldset>
            
            <div class="govuk-button-group">
                @(await Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Continue",
                }))
                <a href="@(Model.Change is not null
                             ? Url.Action("AnswerSummary", "EnergyEfficiency", new {reference = Model.Reference})
                             : Url.Action("HeatingPattern_Get", "EnergyEfficiency", new {reference = Model.Reference}))"
                   class="govuk-link">
                    Skip this question
                </a>
            </div>
            
        </form>
        
    </div>
</div>
