@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Helpers
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions
@model SeaPublicWebsite.Models.EnergyEfficiency.OutdoorSpaceViewModel
@{
    ViewBag.Title = "Outdoor space for heat pump";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.Change
            ? @Url.Action("AnswerSummary", "EnergyEfficiency", new {reference = Model.Reference})
            : @Url.Action("GlazingType_Get", "EnergyEfficiency", new {reference = Model.Reference}),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("OutdoorSpace_Post", "EnergyEfficiency", new {reference = Model.Reference, change = Model.Change})" method="post" novalidate>
            
            @(Html.GovUkRadiosFor(m => m.HasOutdoorSpace,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <h1 class="govuk-fieldset__heading">
                                       Do you have anywhere outside your home where you could fit a heat pump?                                  
                                   </h1>
                                </text>,
                        Classes = "govuk-fieldset__legend--l"
                    }
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                               <p class="govuk-body">
                                   Most heat pump systems will need some outside space that you own where you could fit 
                                   an external unit, about as big as a medium-sized chest of drawers. 
                               </p>
                               <p class="govuk-body">
                                   If you have a garden or own some land next to your home that would be accessible to an 
                                   installer, then you may have enough outside space for a heat pump. 
                               </p>                              
                               <p class="govuk-body">
                                   If you don’t have a garden or don’t own any land next to your home, then you may not 
                                   have anywhere that could fit the external unit of a heat pump.
                               </p>
                               <details class="govuk-details" data-module="govuk-details">
                                   <summary class="govuk-details__summary">
                                       <span class="govuk-details__summary-text">
                                           What is a heat pump?
                                       </span>
                                   </summary>
                                   <div class="govuk-details__text">
                                       <p class="govuk-body">
                                           A heat pump is a heating technology transferring heat from outside to heat your rooms and hot water.
                                       </p>
                                       <p class="govuk-body">
                                           The most common type in the UK are air-to-water heat pumps, meaning they transfer heat energy in the 
                                           air to water that is sent to your radiators or underfloor heating, as well as a hot water cylinder for providing hot water.
                                       </p>
                                   </div>
                               </details>
                            </text>
                }
            ))

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
            
        </form>
        
    </div>
</div>
