@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SeaPublicWebsite.BusinessLogic.Models.Enums
@using SeaPublicWebsite.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@model SeaPublicWebsite.Models.EnergyEfficiency.OutdoorSpaceViewModel
@{
    ViewBag.Title = @SharedLocalizer["Outdoor space for heat pump"].Value;
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
           {
               Text = @SharedLocalizer["Back"].Value,
               Href = Model.BackLink,
           })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action(nameof(EnergyEfficiencyController.OutdoorSpace_Post), "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            @Html.AntiForgeryToken()
            
            @{
                Func<object, object> details = 
                    @<text>
                        <p class="govuk-body">
                            @SharedLocalizer["A heat pump is a heating technology transferring heat from outside to heat your rooms and hot water."]
                        </p>
                        <p class="govuk-body">
                            @SharedLocalizer["The most common type in the UK are air-to-water heat pumps, meaning they transfer heat energy in the air to water that is sent to your radiators or underfloor heating, as well as a hot water cylinder for providing hot water."]
                        </p>
                     </text>;
                Func<object, object> blueBannerHint = 
                    @<p class="govuk-body">
                        @SharedLocalizer["Homes of your type typically"]
                        <strong>
                            @(Model.HintHasOutdoorSpace ? @SharedLocalizer["have some outdoor space"] : @SharedLocalizer["do not have any outdoor space"])
                            @SharedLocalizer["that could fit a heat pump."]
                        </strong>
                    </p>;
            }
            
            @(await Html.GovUkRadiosFor(m => m.HasOutdoorSpace,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = @SharedLocalizer["Do you have anywhere outside your home where you could fit a heat pump?"].Value, 
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true
                    }
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                               <p class="govuk-body">
                                   @SharedLocalizer["Most heat pump systems will need some outside space that you own where you could fit an external unit, about as big as a medium-sized chest of drawers."]
                               </p>
                               <p class="govuk-body">
                                   @SharedLocalizer["If you have a garden or own some land next to your home that would be accessible to an installer, then you may have enough outside space for a heat pump."]
                               </p>                              
                               <p class="govuk-body">
                                   @SharedLocalizer["If you don’t have a garden or don’t own any land next to your home, then you may not have anywhere that could fit the external unit of a heat pump."]
                               </p>
                               
                               @await Html.GovUkDetails(new DetailsViewModel
                                      {
                                          SummaryText = @SharedLocalizer["What is a heat pump?"].Value,
                                          Html = details
                                      })
                               
                               @await Html.GovUkInsetText(new InsetTextViewModel
                                      {
                                          Classes = "sea-epc-hint",
                                          Html = blueBannerHint
                                      })
                            </text>
                }
                ))

            @await Html.GovUkButton(new ButtonViewModel
                   {
                       Text = @SharedLocalizer["Continue"].Value
                   })
            
        </form>
        
    </div>
    <div class="govuk-grid-column-one-third">
        @await Html.PartialAsync("/Views/EnergyEfficiency/Partials/_AdditionalSupport.cshtml")
    </div>
</div>