@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Helpers
@using SeaPublicWebsite.Models.EnergyEfficiency
@model SeaPublicWebsite.Models.EnergyEfficiency.OwnershipStatusViewModel
@{
    ViewBag.Title = "Ownership status";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = @Url.Action("Index", "EnergyEfficiency"),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="@Url.Action("OwnershipStatus_Post", "EnergyEfficiency")" method="post" novalidate>
            
            <span class="govuk-heading-m">@Model.Theme.GetDisplayName()</span>
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  @Model.Title
                </h1>
              </legend>
              <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Why do we need to know this?
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    We need to know your circumstances so we can work if this service is suitable for you.
                  </div>
            </details>

            @(Html.GovUkRadiosFor(m => m.Answer))

            </fieldset>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
