@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SeaPublicWebsite.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@model SeaPublicWebsite.Models.EnergyEfficiency.OwnershipStatusViewModel
@{
    ViewBag.Title = @SharedLocalizer["Ownership status"].Value;
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
           {
               Text = @SharedLocalizer["Back"].Value,
               Href = Model.BackLink,
           })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action(nameof(EnergyEfficiencyController.OwnershipStatus_Post), "EnergyEfficiency", new {reference =  Model.Reference})" method="post" novalidate>  
            @Html.AntiForgeryToken()
            @(Html.HiddenFor(m => m.EntryPoint))

            @(await Html.GovUkRadiosFor(m => m.OwnershipStatus,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = @SharedLocalizer["Do you own your property?"].Value,
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true
                    }
                },
                new HintViewModel
                {
                    Html = @<text>
                               @await Html.GovUkDetails(
                                      new DetailsViewModel
                                      {
                                          SummaryText = @SharedLocalizer["Why do we need to know this?"].Value,
                                          Text = @SharedLocalizer["This service only provides advice to people who own their home."].Value
                                      })
                            </text>
                }
                ))

            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = @SharedLocalizer["Continue"].Value,
            }))

        </form>
        
    </div>
    <div class="govuk-grid-column-one-third">
        @await Html.PartialAsync("/Views/EnergyEfficiency/Partials/_AdditionalSupport.cshtml")
    </div>
</div>