@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SeaPublicWebsite.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@model SeaPublicWebsite.Models.EnergyEfficiency.PropertyTypeViewModel
@{
    ViewBag.Title = @SharedLocalizer["Property type"].Value;
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
           {
               Text = @SharedLocalizer["Back"].Value,
               Href = Model.BackLink,
           })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action(nameof(EnergyEfficiencyController.PropertyType_Post), "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            @Html.AntiForgeryToken()
            
            @{
                Func<object, object> details =
                    @<text>
                        <p class="govuk-body">
                            @SharedLocalizer["Energy use varies between different buildings, particularly for heating."]
                        </p>
                        <p class="govuk-body">
                            @SharedLocalizer["Some home improvements are only possible or appropriate for certain buildings."]
                        </p>
                     </text>;
            }
            
            @(await Html.GovUkRadiosFor(m => m.PropertyType,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = @SharedLocalizer["What kind of property do you have?"].Value,
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true
                    }
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                               @await Html.GovUkDetails(new DetailsViewModel
                                      {
                                          SummaryText = @SharedLocalizer["Why do we need to know this?"].Value,
                                          Html = details
                                      })
                            </text>
                }
                ))
            
            @await Html.GovUkButton(new ButtonViewModel
                   {
                       Text = @SharedLocalizer["Continue"].Value
                   })
        </form>
        
    </div>
    <div class="govuk-grid-column-one-third">
        @await Html.PartialAsync("/Views/EnergyEfficiency/Partials/_AdditionalSupport.cshtml")
    </div>
</div>