@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Helpers
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions
@model SeaPublicWebsite.Models.EnergyEfficiency.RoofInsulatedViewModel
@{
    ViewBag.Title = "Roof Insulated";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.Change
            ? @Url.Action("AnswerSummary", "EnergyEfficiency", new {reference = Model.Reference})
            : @Url.Action("RoofConstruction_Get", "EnergyEfficiency", new {reference = Model.Reference}),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("RoofInsulated_Post", "EnergyEfficiency", new {reference = Model.Reference, change = Model.Change})" method="post" novalidate>
            
            @(Html.GovUkRadiosFor(m => m.RoofInsulated,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <h1 class="govuk-fieldset__heading">
                                       Is your roof fully insulated?
                                   </h1>
                                </text>,
                        Classes = "govuk-fieldset__legend--l"
                    }
                },
                new HintViewModel
                {
                    Html = @<text>
                               <p class="govuk-body">
                                   If your home was built after 2002, or you have installed roof insulation since 2002, it is likely that it is fully insulated.
                               </p>
                               <details class="govuk-details" data-module="govuk-details">
                                   <summary class="govuk-details__summary">
                                       <span class="govuk-details__summary-text">
                                           Help me to answer this question
                                       </span>
                                   </summary>
                                   <div class="govuk-details__text">
                                       <p class="govuk-body">
                                           A fully insulated roof is insulated to current building regulations, or insulation that is at least 270mm deep.
                                       </p>
                                   </div>
                               </details>
                            </text>
                }
                ))

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
            
        </form>
        
    </div>
</div>
