@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Helpers
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions
@model SeaPublicWebsite.Models.EnergyEfficiency.TemperatureViewModel
@{
    ViewBag.Title = "Temperature";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = @Url.Action("HeatingPattern_Get", "EnergyEfficiency", new {reference = Model.Reference}),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("Temperature_Post", "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            
            <span class="govuk-caption-l govuk-!-margin-bottom-4">
                @QuestionSection.Heating.GetDisplayName()
            </span>
            
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        What temperature do you heat your home to?
                    </legend>
            
                    <div class="govuk-hint">
                        If you have a room thermostat, you could tell us what temperature that is usually set to.
                        This answer should be in degrees Celcius.
                        Entering this helps us better estimate the savings on your energy bill from our recommendations.
                    </div>
            
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                What temperature should I heat my home to?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            The World Health Organisation recommends living areas are heated between 18- and 21-degrees C.
                        </div>
                    </details>
            
                    @(Html.GovUkTextInputFor(
                        m => m.Temperature,
                        classes: "govuk-input--width-5"
                        ))
                </fieldset>
            </div>
            
            <div class="govuk-button-group">
                @(Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Continue",
                }))
                <a href="@Url.Action("AnswerSummary", "EnergyEfficiency", new {reference = Model.Reference})"
                   class="govuk-link">
                    I don't know
                </a>
            </div>
            
        </form>
        
    </div>
</div>
