@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Helpers
@using SeaPublicWebsite.Models.EnergyEfficiency
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions
@model SeaPublicWebsite.Models.EnergyEfficiency.UserInterestsViewModel
@{
    ViewBag.Title = "User Interests";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = @Url.Action("Index", "EnergyEfficiency"),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="@Url.Action("UserInterests_Post", "EnergyEfficiency")" method="post" novalidate>
            <span class="govuk-heading-m">@Model.Theme.GetDisplayName()</span>
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  @Model.Title
                </h1>
              </legend>
              <div id="passport-number-hint" class="govuk-hint">
                @Model.Description
              </div>


            @{
                var interestedInMeasures =
                    new Dictionary<HasUserInterests?, Func<object, object>>
                    {
                        {
                            HasUserInterests.Yes,
                            @<text>
                                @(Html.GovUkCheckboxesFor(m => m.Answer))
                            </text>
                        }
                    };
            }
            @(Html.GovUkRadiosFor(m => m.HasUserInterests, conditionalOptions: interestedInMeasures))

            </fieldset>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
