@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model SeaPublicWebsite.Models.EnergyEfficiency.WallConstructionViewModel;
@{
    ViewBag.Title = "Wall Construction";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.Change
            ? @Url.Action("AnswerSummary", "EnergyEfficiency", new {reference = Model.Reference})
            : @Url.Action("HomeAge_Get", "EnergyEfficiency", new {reference = Model.Reference}),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("WallConstruction_Post", "EnergyEfficiency", new {reference = Model.Reference, change = Model.Change})" method="post" novalidate>

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        What kind of walls does your property have?
                    </h1>
                </legend>
                
                @{
                    string expectedWallType = null;
                    if (Model.YearBuilt.HasValue)
                    {
                        if (Model.YearBuilt.Value < 1930)
                        {
                            expectedWallType = "solid";
                        }
                        else
                        {
                            expectedWallType = "cavity";
                        }
                    }
                    else
                    {
                        expectedWallType = "cavity";
                    }
                }
                <div class="govuk-body">
                    If your home has been extended or has multiple wall types, choose the wall type that makes up most of your home.
                </div>
                @(Html.GovUkRadiosFor(m => m.WallConstruction,
                    hintOptions: new HintViewModel
                    {
                        Html = @<text>
                                   <details class="govuk-details" data-module="govuk-details">
                                       <summary class="govuk-details__summary">
                                           <span class="govuk-details__summary-text">
                                               Help me to answer this question
                                           </span>
                                       </summary>
                                       <div class="govuk-details__text">
                                           <p class="govuk-body">
                                               Properties of your type typically have <strong>@expectedWallType</strong>.
                                           </p>
                                           <p class="govuk-body">
                                               Most homes built before 1930 have solid walls.
                                           </p>
                                           <p class="govuk-body">
                                               Most homes built after 1930 have cavity walls.
                                           </p>
                                       </div>
                                   </details>
                                </text>
                    }
                    ))

            </fieldset>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
            
        </form>
        
    </div>
</div>
