@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model SeaPublicWebsite.Models.EnergyEfficiency.WallsInsulatedViewModel
@{
    ViewBag.Title = "Walls Insulated";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.Change
            ? @Url.Action("AnswerSummary", "EnergyEfficiency", new {reference = Model.Reference})
            : @Url.Action("WallConstruction_Get", "EnergyEfficiency", new {reference = Model.Reference}),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action("WallsInsulated_Post", "EnergyEfficiency", new {reference = Model.Reference, change = Model.Change})" method="post" novalidate>
            
            @(Html.GovUkRadiosFor(m => m.WallsInsulated,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <h1 class="govuk-fieldset__heading">
                                       Are your walls fully insulated?
                                   </h1>
                                </text>,
                        Classes = "govuk-fieldset__legend--l"
                    }
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                                   <details class="govuk-details" data-module="govuk-details">
                                       <summary class="govuk-details__summary">
                                           <span class="govuk-details__summary-text">
                                               Help me to answer this question
                                           </span>
                                       </summary>
                                       <div class="govuk-details__text">
                                           <p class="govuk-body">
                                               Most homes built before 1930 have solid walls.
                                               These were built without insulation, so unless you or a previous owner added insulation, it is likely to be uninsulated.
                                           </p>
                                           <p class="govuk-body">
                                               Most homes built after 1930 have cavity walls.
                                               In 1991, it became a legal requirement to build walls with insulation.
                                               If your home was built after 1991, it is likely to already be insulated.
                                           </p>
                                       </div>
                                   </details>
                                </text>
                    }
                ))

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
            
        </form>
        
    </div>
</div>
