@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SeaPublicWebsite.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@model SeaPublicWebsite.Models.EnergyEfficiency.YourRecommendationsViewModel
@{
    ViewBag.Title = SharedLocalizer["Your recommendations"].Value;
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
           {
               Text = SharedLocalizer["Back"].Value,
               Href = Model.BackLink,
           })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            @if (Model.RecommendationsUpdatedSinceLastVisit)
            {
                @SharedLocalizer["YourRecommendationsUpdatedString"]
            }
            else
            {
                @SharedLocalizer["You may be able to make some improvements to your home"]
            }
        </h1>
        <p class="govuk-body">
            @SharedLocalizer["Based on the information you’ve given us, there may be some changes a qualified installer could make to your home to reduce the amount of energy it needs to use."]
        </p>

        <p class="govuk-body">
            @if (Model.RecommendationsUpdatedSinceLastVisit)
            {
                @SharedLocalizer["SinceLastVisitRecommendationsChangedString"]
            }
            @(Model.NumberOfPropertyRecommendations == 1 ? SharedLocalizer["WeFoundImprovementsSingularString"] : SharedLocalizer["WeFoundImprovementsPluralString", Model.NumberOfPropertyRecommendations])
        </p>

        <p class="govuk-body">
            @SharedLocalizer["We will advise you if your home needs to meet certain conditions for a given improvement to be effective for you."]
        </p>

        <p class="govuk-body">
            @SharedLocalizer["If you like any of these recommendations, you can save them to your action plan before you move on."]
        </p>

        @await Html.GovUkWarningText(new WarningTextViewModel
        {
            IconFallbackText = @SharedLocalizer["Note"].Value,
            Html = @<text>@Model.GetEnergyPriceCapString(SharedLocalizer)</text>
        })

        <h2 class="govuk-heading-l">
            @SharedLocalizer["Getting back to your recommendations once you leave"]
        </h2>

        <p class="govuk-body">
            @SharedLocalizer["You will need a reference code to return to your recommendations and action plan quickly if you leave the service."]
        </p>

        <div class="sea-user-reference govuk-!-margin-bottom-6" role="complementary">
            <h3 class="govuk-body-l govuk-!-margin-bottom-0">@SharedLocalizer["Your reference code"]</h3>
            <strong class="govuk-heading-l" id="subsection-title">@Model.Reference</strong>
        </div>

        <form method="post" action="@Url.Action(nameof(EnergyEfficiencyController.YourRecommendations_Post), "EnergyEfficiency")">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.NumberOfPropertyRecommendations)
            @(await Html.GovUkCheckboxFromBoolFor(
                m => m.HasEmailAddress,
                label: new()
                {
                    Text = @SharedLocalizer["Yes, email a link and the reference code to me"].Value
                },
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <h3 class="govuk-!-margin-bottom-4">
                                       @SharedLocalizer["Would you like us to email the above?"]
                                   </h3>
                                    <p class="govuk-body">
                                        @SharedLocalizer["We will send you a link to your recommendations and your reference code so you can quickly get back when you need to. If you do not wish to provide an email, make sure you make a note of your reference code."]
                                    </p>
                                </text>,
                        Classes = "govuk-fieldset__legend--m",
                        IsPageHeading = false,
                    },
                },
                conditionalOption: new Conditional
                {
                    Html = (@<text>
                                @await Html.GovUkTextInputFor(
                                           m => m.EmailAddress,
                                           labelOptions: new LabelViewModel
                                           {
                                               Text = @SharedLocalizer["Please enter your email"].Value,
                                           },
                                           classes: "govuk-input--width-20",
                                           autocomplete: "email",
                                           placeholder: @SharedLocalizer["e.g. my.email@example.com"].Value
                                           )
                             </text>)
                }))

            <div class="govuk-button-group">
                @(await Html.GovUkButton(new ButtonViewModel
                {
                    Text = @SharedLocalizer["Explore recommendations"].Value,
                    IsStartButton = true
                }))
            </div>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        @await Html.PartialAsync("/Views/EnergyEfficiency/Partials/_AdditionalSupport.cshtml")
    </div>
</div>