@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Helpers
@using SeaPublicWebsite.Models.EnergyEfficiency
@using SeaPublicWebsite.Models.EnergyEfficiency.QuestionOptions;

@{
    ViewBag.Title = "Your property";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = @Url.Action("OwnershipStatus_Get", "EnergyEfficiency", new { reference = Model }),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <span class="govuk-caption-l govuk-!-margin-bottom-4">
            @(QuestionSection.YourHome.GetDisplayName())
        </span>
        <h1 class="govuk-heading-l">
            We need some information about your property
        </h1>
        
        <p class="govuk-body">
            We need to ask questions about your property to understand how it is built and its current energy performance.
            This helps us to recommend improvements that you can make.
        </p>

        <p class="govuk-body govuk-!-margin-top-6">
            @(Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue",
                Href = @Url.Action("AskForPostcode_Get", "EnergyEfficiency", new { reference = Model })
            }))
        </p>
        
    </div>
</div>
