@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model SeaPublicWebsite.Models.EnergyEfficiency.YourRecommendationsViewModel
@{
    ViewBag.Title = "Your recommendations";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = @Url.Action("AnswerSummary", "EnergyEfficiency", new {reference = Model.Reference}),
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = false
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            You may be able to make some improvements to your home
        </h1>
        <p class="govuk-body">
            Based on the information you’ve given us, there may be some changes a qualified
            installer could make to your home to reduce the amount of energy it needs to use.
        </p>

        <p class="govuk-body">We’ve found <b>@Model.NumberOfUserRecommendations recommended improvements</b> for you to consider.</p>

        <p class="govuk-body">
            We will advise you if your home needs to meet certain conditions for a given
            improvement to be effective for you.
        </p>

        <p class="govuk-body">
            If you like one of these recommendations, you can save it to your action plan before
            you move on.
        </p>

        <p class="govuk-body">
            Your action plan can be printed or emailed to you when you are finished looking through
            the available recommendations
        </p>

        <div class="govuk-inset-text govuk-!-margin-bottom-7">
            <p class="govuk-body">
                The costs and savings we have provided for this service are estimates based on an average
                home in England and Wales.
            </p>
            <p class="govuk-body">
                They may not be the same as the costs and savings you see in practice, as every property is unique.
            </p>
        </div>
        
        <h2 class="govuk-heading-m">
            Getting back to the service once you leave
        </h2>
        <p class="govuk-body">
            You will need a reference number to return to your recommendations and action plan quickly if you leave the service.
        </p>
        <p class="govuk-body">
            If you have provided your email address, you should have receieved an email with a copy of this reference number. 
        </p>

        <aside class="sea-user-reference govuk-!-margin-bottom-6" role="complementary">
            <span class="govuk-caption-l">Your reference</span>
            <h2 class="govuk-heading-l" id="subsection-title">@Model.Reference</h2>
            
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Note</span>
                    If you have not provided an email address, you should write down this reference number
                </strong>
            </div>
        </aside>

        <a href="@Url.Action("Recommendation_Get", "EnergyEfficiency", new {id = Model.FirstReferenceId, reference = Model.Reference})" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            Explore recommendations
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
            </svg>
        </a>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
</div>
