@using SeaPublicWebsite.DataModels
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.Models.EnergyEfficiency
@model SeaPublicWebsite.Models.EnergyEfficiency.YourSavedRecommendationsViewModel;

@{
    ViewBag.Title = "Your action plan";
}

@section BeforeMain {
    @Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = "#",
        
        // Note: some of the "Back" links in this journey can't use the default browser behaviour
        //  so we should control all of them explicitly
        OverrideWithJavascript = true
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Your action plan</h1>
                <div class="sea-numbered-steps govuk-!-margin-bottom-7 govuk-!-padding-bottom-1">
                <ol class="govuk-list govuk-list--number govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                    <li class="sea-step">
                        <div class="content">
                            <h2 class="govuk-heading-m">Research any improvements you are unsure about</h2>
                                @if (Model.GetDecideLaterRecommendations().Count > 0)
                                {
                                    <p class="govuk-body govuk-!-margin-bottom-6">You told us you would like some more information on one or more of the recommendations before considering them for your property.</p>
                                    <div class="sea-action-plan-margin-right govuk-!-margin-bottom-7">
                                        <dl class="govuk-summary-list">
                                            @foreach (UserRecommendation recommendation in Model.GetDecideLaterRecommendations())
                                            {
                                                <div class="govuk-summary-list__row sea-decide-later-summary-list">
                                                    <dt class="govuk-summary-list__key sea-decide-summary-list-cell">
                                                        <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                                                            @(recommendation.Title)
                                                        </p>
                                                        <p class="govuk-body-s govuk-!-width-two-thirds govuk-!-margin-bottom-6">
                                                            @(recommendation.Summary)
                                                        </p>
                                                        @{
                                                            switch (recommendation.Key)
                                                            {
                                                                case RecommendationKey.AddLoftInsulation:
                                                                    <p class="govuk-body">
                                                                        You can find more information about loft insulation on:
                                                                        <ul class="govuk-list govuk-list--bullet">
                                                                            <li>
                                                                                The <a class="govuk-link" target="_blank" href="https://energysavingtrust.org.uk/advice/roof-and-loft-insulation/">Energy Saving Trust website.<span class="govuk-visually-hidden">(opens in a new window)</span></a>
                                                                            </li>
                                                                        </ul>
                                                                    </p>
                                                                    break;
                                                                case RecommendationKey.FitNewWindows:
                                                                    <p class="govuk-body">
                                                                        You can find more information on efficient windows and how to choose them at the
                                                                        <ul class="govuk-list govuk-list--bullet">
                                                                            <li>
                                                                                The
                                                                                <a class="govuk-link" target="_blank" href="https://www.bfrc.org/homeowners">
                                                                                    British Fenestration Rating Council.<span class="govuk-visually-hidden">(opens in a new window)</span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </p>
                                                                    break;
                                                                case RecommendationKey.GroundFloorInsulation:
                                                                    <p class="govuk-body">
                                                                        You can find more information about floor insulation on:
                                                                        <ul class="govuk-list govuk-list--bullet">
                                                                            <li>
                                                                                The <a class="govuk-link" target="_blank" href="https://energysavingtrust.org.uk/advice/floor-insulation/">Energy Saving Trust website.<span class="govuk-visually-hidden">(opens in a new window)</span></a>
                                                                            </li>
                                                                        </ul>
                                                                    </p>
                                                                    break;
                                                                case RecommendationKey.InsulateCavityWalls:
                                                                    <p class="govuk-body">
                                                                        You can find more information on cavity wall insulation on:
                                                                        <ul class="govuk-list govuk-list--bullet">
                                                                            <li>
                                                                                The <a class="govuk-link" target="_blank" href="https://energysavingtrust.org.uk/advice/cavity-wall-insulation/">Energy Saving Trust website.<span class="govuk-visually-hidden">(opens in a new window)</span></a>
                                                                            </li>
                                                                        </ul>
                                                                    </p>
                                                                    break;
                                                                case RecommendationKey.SolarElectricPanels:
                                                                    <p class="govuk-body">
                                                                        You can find more information on solar PV on:
                                                                        <ul class="govuk-list govuk-list--bullet">
                                                                            <li>
                                                                                The <a class="govuk-link" target="_blank" href="https://energysavingtrust.org.uk/advice/solar-panels/">Energy Saving Trust website.<span class="govuk-visually-hidden">(opens in a new window)</span></a>
                                                                            </li>
                                                                        </ul>
                                                                    </p>
                                                                    break;
                                                                case RecommendationKey.UpgradeHeatingControls:
                                                                    <p class="govuk-body">
                                                                        You can find more information on heating controls on:
                                                                        <ul class="govuk-list govuk-list--bullet">
                                                                            <li>
                                                                                The <a class="govuk-link" target="_blank" href="https://energysavingtrust.org.uk/advice/thermostats-and-heating-controls/">Energy Saving Trust website.<span class="govuk-visually-hidden">(opens in a new window)</span></a>
                                                                            </li>
                                                                        </ul>
                                                                    </p>
                                                                    break;
                                                            }
                                                            ;
                                                        }
                                                    </dt>
                                                    <dd class="govuk-summary-list__actions sea-decide-summary-list-cell govuk-!-margin-bottom-7">
                                                        <div class="sea-decide-later-action-links">
                                                            <a href=@Url.Action("Recommendation_Get", new {id = (int) recommendation.Key, reference = Model.UserDataModel.Reference})
                                                               class="govuk-link">
                                                                Change my decision
                                                            </a>
                                                        </div>
                                                    </dd>
                                                </div>
                                            }
                                        </dl>
                                    </div>
                                }
                                else
                                {
                                    <p class="govuk-body">
                                        Your responses to the recommendations indicated that you didn’t need any further information about any of the improvements.
                                    </p>
                                }
                            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                        </div>
                    </li>
                    <li class="sea-step">
                        <div class="content">
                            <h2 class="govuk-heading-m">Check for grants</h2>
                            <p class="govuk-body">There may be grants available from central government or your local authority to help cover some or all of 
                                the cost of improvements to your property.</p>
                            <p class="govuk-body">
                                <a class="govuk-link" href="javascript:void(0);">Check to see if there are grants available from central government</a>
                            </p>
                            <p class="govuk-body govuk-!-margin-bottom-8">
                                <a class="govuk-link" href="javascript:void(0);">Check to see if there are grants available from your local authority</a>
                            </p>
                            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                        </div>
                    </li>
                    <li class="sea-step">
                        <div class="content">
                            <h2 class="govuk-heading-m">Consult with a qualified installer</h2>
                            <p class="govuk-body">We recommend speaking to qualified installers about making changes to your property.</p>
                            <p class="govuk-body">You can get help finding a qualified installer in your area by visiting the TrustMark website. <a class="govuk-link" target="_blank" href="https://www.trustmark.org.uk/">Find qualified installers</a> on the TrustMark website.</p>
                            
                            <p class="govuk-body govuk-!-margin-bottom-7">Below is a summary of the recommended improvements you have told us you would consider for your property.</p>
                            <div class="govuk-!-padding-left-4 sea-total-savings govuk-!-margin-bottom-6">
                                <span class="govuk-caption-m">You could save up to</span>
                                <h3 class="govuk-heading-l sea-total-savings-text">@Model.GetTotalSavingText()</h3>
                            </div>
                            <div class="govuk-grid-row govuk-!-margin-bottom-4">
                                <div class="govuk-grid-column-one-half">
                                    <div class="govuk-!-padding-left-4 sea-total-installation-cost">
                                        <span class="govuk-caption-m">Together, these improvements could cost</span>
                                        <h3 class="govuk-heading-l">@Model.GetTotalInstallationCostText()</h3>
                                    </div>
                                </div>
                                <div class="govuk-grid-column-one-half">
                                    <div class="govuk-inset-text govuk-!-margin-0 govuk-!-padding-top-1  govuk-!-padding-bottom-1">
                                        You may be able to apply for grants to help with the cost of fitting some or all of these improvements.
                                        See Next Steps for details.
                                    </div>
                                </div>
                            </div>
                            <details class="govuk-details govuk-!-margin-bottom-7" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        How did we calculate these figures?
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    The costs and savings you view using the services on this site are based on standards
                                    developed for Government as a way of understanding how houses and flats use energy,
                                    and how your home’s energy use could be improved. You can find out more information
                                    about these standards with the guidance published on the
                                    <a class="govuk-link" target="_blank" href="https://www.gov.uk/guidance/standard-assessment-procedure">Standard Assessment Procedure site.<span class="govuk-visually-hidden">(opens in a new window)</span></a>
                                </div>
                            </details>
                            @if (Model.GetSavedRecommendations().Count > 0)
                            {
                                <div class="sea-action-plan-margin-right">
                                    <table class="govuk-table govuk-!-margin-bottom-9">
                                        <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header"></th>
                                            <th scope="col" class="govuk-table__header">Typical savings per year</th>
                                            <th scope="col" class="govuk-table__header govuk-!-padding-right-0">Typical costs</th>
                                            <th scope="col" class="govuk-table__header sea-saved-recommendations-table-headers"></th>
                                            <th scope="col" class="govuk-table__header sea-saved-recommendations-table-headers"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="govuk-table__body">
                                        @foreach (UserRecommendation recommendation in @Model.GetSavedRecommendations())
                                        {
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell govuk-!-padding-top-4 sea-saved-recommendations-table-headers">
                                                    <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                                                        @(recommendation.Title)
                                                    </p>
                                                    <p class="govuk-body-s govuk-!-margin-bottom-0">
                                                        @(recommendation.Summary)
                                                    </p>
                                                </td>
                                                <td class="govuk-table__cell govuk-!-padding-top-4 sea-saved-recommendations-table-headers">@Model.GetSavingText(recommendation)</td>
                                                <td class="govuk-table__cell govuk-!-padding-top-4 sea-saved-recommendations-table-headers">@Model.GetInstallationCostText(recommendation)</td>
                                                <td class="govuk-table__cell govuk-!-padding-top-4 sea-saved-recommendations-table-headers-hide sea-change-decision-link">
                                                    <a class="govuk-link" href=@Url.Action("Recommendation_Get", new {id = (int) recommendation.Key, reference = Model.UserDataModel.Reference})>
                                                        Change my decision
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr class="govuk-table__row sea-saved-recommendations-secondary-row">
                                                <td colspan="3" class="govuk-table__cell">
                                                    <a href=@Url.Action("Recommendation_Get", new {id = (int) recommendation.Key, reference = Model.UserDataModel.Reference})
                                                       class="govuk-link govuk-!-margin-right-3">
                                                        Change my decision
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            @if (Model.GetDiscardedRecommendations().Count > 0)
                            {
                                <details class="govuk-details govuk-!-margin-bottom-7" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                            Recommendations you discarded
                                        </span>
                                    </summary>
                                    <div class="govuk-details__text">
                                        <div class="sea-action-plan-margin-right">
                                            <table class="govuk-table govuk-!-margin-bottom-9">
                                                <thead class="govuk-table__head">
                                                <tr class="govuk-table__row">
                                                    <th scope="col" class="govuk-table__header"></th>
                                                    <th scope="col" class="govuk-table__header">Typical savings per year</th>
                                                    <th scope="col" class="govuk-table__header govuk-!-padding-right-0">Typical costs</th>
                                                    <th scope="col" class="govuk-table__header sea-saved-recommendations-table-headers"></th>
                                                    <th scope="col" class="govuk-table__header sea-saved-recommendations-table-headers"></th>
                                                </tr>
                                                </thead>
                                                <tbody class="govuk-table__body">
                                                @foreach (UserRecommendation recommendation in @Model.GetDiscardedRecommendations())
                                                {
                                                    <tr class="govuk-table__row">
                                                        <td class="govuk-table__cell govuk-!-padding-top-4 sea-saved-recommendations-table-headers">
                                                            <p class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
                                                                @(recommendation.Title)
                                                            </p>
                                                            <p class="govuk-body-s govuk-!-margin-bottom-0">
                                                                @(recommendation.Summary)
                                                            </p>
                                                        </td>
                                                        <td class="govuk-table__cell govuk-!-padding-top-4 sea-saved-recommendations-table-headers">@Model.GetSavingText(recommendation)</td>
                                                        <td class="govuk-table__cell govuk-!-padding-top-4 sea-saved-recommendations-table-headers">@Model.GetInstallationCostText(recommendation)</td>
                                                        <td class="govuk-table__cell govuk-!-padding-top-4 sea-saved-recommendations-table-headers-hide sea-change-decision-link">
                                                            <a class="govuk-link" href=@Url.Action("Recommendation_Get", new {id = (int) recommendation.Key, reference = Model.UserDataModel.Reference})>
                                                                Change my decision
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr class="govuk-table__row sea-saved-recommendations-secondary-row">
                                                        <td colspan="3" class="govuk-table__cell">
                                                            <a href=@Url.Action("Recommendation_Get", new {id = (int) recommendation.Key, reference = Model.UserDataModel.Reference})
                                                               class="govuk-link govuk-!-margin-right-3">
                                                                Change my decision
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </details>
                            }
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                        </div>
                        </li>
                </ol>
                </div>
        

        <details class="govuk-details govuk-!-margin-bottom-7" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Think something’s missing? 
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">
                    Based on the answers you provided earlier, we were able to rule out some improvements that are unlikely to be suitable for your home. 
                </p>
                <p class="govuk-body">
                    If you are interested, you can 
                    <a href="javascript:void(0);" class="govuk-link">
                        view the recommendations that we decided were not suitable for your home.
                    </a>
                </p>
            </div>
        </details>
    </div>
</div>
<div class="govuk-grid-row sea-action-plan-margin-right">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">
            Keep a copy of your action plan
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-7">
            <a href="javascript:void(0);" class="govuk-link">
                Print or download your action plan
            </a>
        </p>

        <h2 class="govuk-heading-m">
            Find out more about energy efficiency
        </h2>
        <p class="govuk-body govuk-!-margin-bottom-7">
            You can visit the
            <a href="https://energysavingtrust.org.uk" class="govuk-link">
                Energy Saving Trust website
            </a>
            for more information on other ways to save energy and reduce your bills.
        </p>


        <h2 class="govuk-heading-m">
            Leave some feedback for this service
        </h2>
        <p class="govuk-body">
            This service is still in its early stages and under active development.
        </p>
        <p class="govuk-body">
            Your feedback can help us to shape how the service develops so that it can best serve the needs of the public. 
        </p>
        <p class="govuk-body">
            <a href="javascript:void(0);" class="govuk-link">
                Leave some feedback for this service
            </a>
        </p>
    </div>
</div>

<a href="@(Url.Action("AnswerSummary", "EnergyEfficiency", new {reference = Model.UserDataModel.Reference}))"
   class="govuk-link">
    Change your answers
</a>