@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using SeaPublicWebsite.DataModels
@model SeaPublicWebsite.Models.EnergyEfficiency.YourSavedRecommendationsViewModel;

@{
    ViewBag.Title = "Your action plan";
}

<div class="govuk-panel govuk-panel--confirmation sea-recommendations-panel govuk-!-margin-bottom-9">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Your goal</span>
            <h1 class="govuk-panel__title">
                To reduce my energy bills
            </h1>
            <a href="@Url.Action("AnswerSummary", "EnergyEfficiency", new {reference = Model.UserDataModel.Reference})" class="govuk-link govuk-link--inverse">Change my answers</a>
        </div>
        <div class="govuk-grid-column-one-third">
            <p class="govuk-body-l sea-reference">Your reference <strong>@Model.UserDataModel.Reference</strong></p>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your saved recommendations</h1>
        <p class="govuk-body">
            If you went ahead with all the recommendations you have chosen, this is the impact it could have:
        </p>

        <span class="govuk-caption-m">Together, these improvements could cost</span>
        <h3 class="govuk-heading-l">@Model.GetInstallationCostText()</h3>
        <span class="govuk-caption-m">You could save up to</span>
        <h3 class="govuk-heading-l">@Model.GetSavingText()</h3>
        
        <div class="govuk-inset-text">
            You may be able to apply for grants to help with the cost of fitting some or all of these improvements. 
            See Next Steps for details.  
        </div>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    How did we calculate these figures?
                </span>
            </summary>
            <div class="govuk-details__text">
                Details here
            </div>
        </details>

        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header">Typical costs</th>
                <th scope="col" class="govuk-table__header">Typical savings per year</th>
                <th scope="col" class="govuk-table__header"></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (UserRecommendation recommendation in @Model.GetSavedRecommendations())
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <p class="govuk-body-l">
                            <a class="govuk-link" href=@Url.Action("Recommendation_Get", new { id = (int)recommendation.Key, reference = Model.UserDataModel.Reference})>@(recommendation.Title)</a>
                        </p>
                        <p class="govuk-body">
                            @(recommendation.Summary)
                        </p>
                    </td>
                    <td class="govuk-table__cell">@Model.GetInstallationCostText(recommendation)</td>
                    <td class="govuk-table__cell">@Model.GetSavingText(recommendation)</td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href=#>Discard</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        
        @if (Model.GetDecideLaterRecommendations().Count > 0)
        {
            <h2 class="govuk-heading-m">Recommendations you wanted to decide on later</h2>

            <dl class="govuk-summary-list">
                @foreach (UserRecommendation recommendation in Model.GetDecideLaterRecommendations())
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <p class="govuk-body-l">
                                <a class="govuk-link" href=@Url.Action("Recommendation_Get", new { id = (int)recommendation.Key, reference = Model.UserDataModel.Reference})>@(recommendation.Title)</a>
                            </p>
                            <p class="govuk-body">
                                @(recommendation.Summary)
                            </p>
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Add to action plan
                            </a>
                            <a class="govuk-link" href="#">
                                Discard
                            </a>
                        </dd>
                    </div>
                }
            </dl>
        
        }
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What recommendations were not suitable for your home
                </span>
            </summary>
            <div class="govuk-details__text">
                If you are interested, you can <a class="govuk-link">view a full breakdown of the recommendations that we determined to be unsuitable for your home.</a>
            </div>
        </details>

        <h2 class="govuk-heading-m">Find out more about saving energy</h2>
        <p class="govuk-body">
            You can visit the 
            <a class="govuk-link" target="_blank" href="https://energysavingtrust.org.uk/">Energy Saving Trust website <span class="govuk-visually-hidden">(opens in a new window)</span></a>
            for more information on other ways you can improve your energy efficiency to reduce your bills.
        </p>
    </div>
    <div class="govuk-grid-column-one-third">
        <aside class="sea-user-reference" role="complementary">
            <span class="govuk-caption-l">Your reference</span>
            <h2 class="govuk-heading-m" id="subsection-title">YZA431XJ</h2>
            <p class="govuk-body-s">
                Your reference allows you to get back to your recommendations quickly if you visit
                the service again at a later date.
            </p>
        </aside>
        <div class="govuk-notification-banner  sea-next-steps" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Next steps
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-body">
                    <ol class="govuk-list govuk-list--number">
                        <li>Print or email your wishlist</li>
                        <li>Check for grants</li>
                        <li>Consult with a qualified installer</li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
</div>
