@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model SeaPublicWebsite.Models.EnergyEfficiency.SingleRecommendationDetailsViewModel;

@{
    Layout = "_Recommendation";
}

@section RecommendationBody
{
    <h1 class="govuk-heading-l">@SharedLocalizer["Insulate the ground floor"]</h1>
    
    <p class="govuk-body">
        @SharedLocalizer["From the information we have it looks like you have a suspended timber floor. This means your ground floor is made of wooden floorboards with a gap underneath."]
    </p>
    <p class="govuk-body">
        @SharedLocalizer["Adding extra insulation can help trap the heat inside your property so your heating doesn’t need to be on as much."]
    </p>

    <p class="govuk-body">
        @SharedLocalizer["Your floor could be insulated by lifting the floorboards, fitting insulation between the joists and then putting the floorboards back. This is normally a job for a professional installer."]
    </p>

    <p class="govuk-body govuk-!-margin-bottom-6">
        @SharedLocalizer["MoreInfoOnFloorInsulationOnEnergySavingTrustWebsiteString", "https://energysavingtrust.org.uk/advice/floor-insulation/"]
    </p>
    
    @await Html.GovUkWarningText(new WarningTextViewModel
    {
        IconFallbackText = "Caution",
        Text = @SharedLocalizer["You will need to completely empty the rooms that are being insulated, and remove any carpet or other floor covering, before the floor boards can be lifted."].Value
    })
}

@section RecommendationSuitableFor
{
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
        <li>
            @SharedLocalizer["Your property has a suspended timber floor that has not yet been insulated. If you are unsure, a qualified installer will be able to confirm this for you."].Value
        </li>
    </ul>
}

@section RecommendationLifetime
{
    <p class="govuk-body">@SharedLocalizer["FloorInsulationTypicallyLastsString", Model.GetCurrentPropertyRecommendation().Lifetime]</p>
}

@{
    Model.DisruptionTagViewModel = new TagViewModel
    {
        Classes = "govuk-tag--orange",
        Text = @SharedLocalizer["DEFINITELY"].Value
    };

    Model.DurationTagViewModel = new TagViewModel
    {
        Classes = "govuk-tag--yellow",
        Text = @SharedLocalizer["1 TO 2 DAYS"].Value
    };
}