@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model SeaPublicWebsite.Models.EnergyEfficiency.SingleRecommendationDetailsViewModel;

@{
    Layout = "_Recommendation";
}

@section RecommendationBody
{
    <p class="govuk-body">
        @SharedLocalizer["Based on the information we have collected; it looks like you have some single glazed windows in your home. Double or triple glazed windows are much better at keeping the heat in, so would help you keep warm while reducing your heating bills."]
    </p>

    <p class="govuk-body">
        @SharedLocalizer["The fuel bill savings from replacing windows are unlikely to pay back the full installation cost, but there are other benefits such as reduced maintenance and better sound proofing that may affect your decision."]
    </p>

    <p class="govuk-body govuk-!-margin-bottom-6">
        @SharedLocalizer["MoreInfoOnNewWindowsOnBritishFenestrationRatingCouncilWebsiteString","https://search.bfrc.org/homeowners"]
    </p>

    @await Html.GovUkWarningText(new WarningTextViewModel
    {
        IconFallbackText = "Caution",
        Text = @SharedLocalizer["If you live in a conservation area or listed building there may be limits on what changes you can make to your windows. You should check with your local authority to see what is allowed."].Value
    })
}

@section RecommendationSuitableFor
{
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
        <li>
            @SharedLocalizer["You have any single glazed windows."]
        </li>
    </ul>
}

@section RecommendationLifetime
{
    <p class="govuk-body">@SharedLocalizer["NewWindowsTypicallyLastString", @Model.GetCurrentPropertyRecommendation().Lifetime]</p>
}

@{
    Model.DisruptionTagViewModel = new TagViewModel
    {
        Classes = "govuk-tag--yellow",
        Text = SharedLocalizer["MODERATE"].Value
    };
    
    Model.DurationTagViewModel = new TagViewModel
    {
        Classes = "govuk-tag--yellow",
        Text = SharedLocalizer["1 OR 2 DAYS"].Value
    };
}