@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model SeaPublicWebsite.Models.Error.ErrorViewModel

@{
    ViewBag.Title = @SharedLocalizer["Sorry, there is a problem with the service"].Value;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@SharedLocalizer["Sorry, there is a problem with the service"]</h1>
        <p class="govuk-body">
            @SharedLocalizer["Try again later."]
        </p>
        @if (Model.ShowAnswersNotSavedMessage)
        {
            <p class="govuk-body">
                @SharedLocalizer["We have not saved your answers. When the service is available, you will have to start again."]
            </p>
        }
        <p class="govuk-body">
            @SharedLocalizer["GeneralEnergySavingTrustAdviceString", "https://energysavingtrust.org.uk/"].
        </p>
    </div>
</div>
